[2021-12-29 22:48] traizenne commented on #803
@sylus We can close this issue.  I can create the projects myself in both octopus and argo.  I will let you know when we need help for PROD deployment.
I have one PR open https://github.com/StatCan/charts/pull/156 to fix a small typo.

[2021-12-30 14:55] StanHatko opened #810 "Documentation: Request New Namespace Manual Process"
For now the instructions on https://statcan.github.io/daaas/en/4-Collaboration/Request-a-Namespace/#requesting-a-namespace do not work. I know you want to get the namespace creation automation working again, but for now we just need the documentation to say "contact the AAW maintainers and ask them to create the specified namespace." When the automation is working again we can update the documenta

[2021-12-30 14:58] StanHatko commented on #810
This is labelled kind/feature, kind/bug would be a better label as it's an error in the documentation, not a new feature request. I can't edit the label myself, it would be good if a maintainer could fix it.

[2021-12-30 16:00] StanHatko opened #811 "BUG: Protected B Notebook Server Cannot Access MinIO"
**Describe the bug**
I cannot access the Protected B MinIO from a new Protected B GPU notebook server, but I can from an older small CPU-only notebook server I created a week ago.

**Environment info**
Namespace: greenhouse-detection
Notebook/server: pbgpu1

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new terminal.
2. Add the alias as seen in the second screenshot
3. See error

**E

[2021-12-30 16:13] blairdrummond commented on #811
Could be network policy related. @chuckbelisle or @StanHatko  I'd recommend looking at the logs of the vault-agent container inside the pod for clues.

[2021-12-30 16:19] StanHatko commented on #811
Done, ran the command `kubectl logs pbgpu1-0 vault-agent` and it produced the logs, they aren't that long and there's nothing sensitive in them. The contents are:

[code]

[2021-12-30 16:25] blairdrummond commented on #811
Interesting. @StanHatko can you leave that online for a day or two and we'll see if the connectivity eventually works.

@sylus has MS gotten back to us on the ticket?

[2021-12-30 16:28] StanHatko commented on #811
Yes I'll leave that server pbgpu1 turned on until I'm told I can turn it off.

[2022-01-04 14:06] Noznoc commented on #809
FYI, also having this issue for `deil-lode`

[2022-01-04 19:49] Noznoc opened #813 "BUG: deil PostgreSQL database server"
**Describe the bug**
The DEIL section in CSBP is experiencing inconsistent connection issues with their `deil` PostgreSQL database server hosted by AAW. Sometimes connection works, sometimes it cannot be connected to for minutes to hours (varying in terms of time of day too). Tested directly with psql and also in R and Python to connect to database. The following is the returned error: `server clo

[2022-01-04 22:49] KHobbs3 opened #814 "BUG: AAW notebook connections failing"
**Describe the bug**
Have not been able to connect to the following servers for at least 1 work day:

**Environment info**
Namespace: deil-lode
Notebook/server: `infc` & `lode-processing`

Namespace: bar-rtlbci
Notebook/server: `web-traffic`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to kubernetes notebook servers under namespaces provided
2. See error

**Expected behaviour**
Green c

[2022-01-05 13:57] KrishnaChaitanya-Gopaluni opened #815 "[Protected B] <Elasticsearch and Kibana> <description>"
**Description**
Our team is looking forward for the Protected B version of ElasticSearch and Kibana Which can be accessed from protected AAW notebook servers.

**Context**
We are currently working on a protected B project in collaboration with the client, who is an external federal department. As part of this we wanted to develop some dynamic and static visualizations (on the model prediction logs

[2022-01-05 15:41] skyeturriff commented on #804
Hi @PoojithaGowthaman, are you still having issues with this? Were you able to try out the suggestions from Blair?

[2022-01-05 20:28] menmarc commented on #700
here's our current fluentd config map which is has probably an invalid source.
https://github.com/StatCan/charts/blob/master/stable/disclosure-vetting-application/templates/fluentd-configmap.yaml

We want to log :
- all requests made on the vetting application (custom format)
- all errors that happened in the vetting app (custom format)

How can we tell fluentd to pickup logs from our vetting appl

[2022-01-06 01:38] sylus commented on #700
Hey @zachomedia I think this is all we need?

Also just so you have it this is what we use and discusses how the configmap logic works:

https://github.com/vmware/kube-fluentd-operator

[2022-01-06 14:38] StanHatko commented on #811
Can I turn of the pbgpu1 server now, or should I still leave it on?

[2022-01-06 15:57] PoojithaGowthaman commented on #804
Thank you Skye! The suggestions related to email being case sensitive and the logins did solve the issue. I have access to AAW now.

[2022-01-06 18:07] blairdrummond commented on #804
Glad it's resolved!

[2022-01-06 18:07] #804 closed

[2022-01-06 20:04] rohank07 opened #816 "Brute force inspection of incorrect localization"
Using bulk inspection to check:
Email conversation with Gary

1.	Cases where the wrong string is being displayed (I found and fixed one of these before the holidays, it was due to the wrong key being used rather than the string itself being wrong: https://github.com/rstudio/rstudio/pull/10225/files). Hopefully these are very obvious and get pointed out quickly, but always a chance we'll miss some

[2022-01-06 20:21] jumana-s commented on #809
Looks like we will have to upgrade our MinIO version, based on issue 12381 in repo minio/minio.

[2022-01-06 20:34] StanHatko commented on #809
I've been encountering the same issue (random _The access key ID you provided does not exist in our records_ errors) in the mc command-line client within a notebook server. So the issue occurs there as well as the MinIO web UI.

[2022-01-06 22:12] jumana-s commented on #814
Has it been any different today?

[2022-01-06 22:14] jumana-s commented on #811
Have the logs changed at all?

[2022-01-06 22:59] KHobbs3 commented on #814
yes - seems fixed today!

[2022-01-06 22:59] #814 closed

[2022-01-07 16:38] StanHatko commented on #809
Do we have an estimated date for this issue to be fixed?

[2022-01-07 17:04] StanHatko commented on #811
Yes, the logs are different now. Running `kubectl logs pbgpu1-0 vault-agent` produces the output:

[code]

[2022-01-07 17:06] StanHatko commented on #811
Running `mc ls` works, though issue #809 comes up. So I think this issue has been fixed.

[code]

[2022-01-07 19:05] StanHatko opened #817 "MinIO File Uploads Sometimes Freeze at End"
**Describe the bug**
In some cases, uploading files to MinIO (using the mc command-line client on a notebook server) appears to work, but then the upload suddenly stops once 100% of the data has been uploaded. The upload speed suddenly starts to decrease, and this appears to continue for a long time at least (it may eventually time out or give some sort of error, I don't know).

**Environment info

[2022-01-07 22:21] StanHatko commented on #811
Are you still doing anything with regards to this issue, or can it be closed?

[2022-01-10 15:56] jumana-s opened #818 "BUG: bucket doesn't have data after MinIO migration"
**Describe the bug**
Bucket constructiondetection doesn't have any data after the MinIO migration.

**Environment info**
Namespace: constructiondetection
Notebook/server:  N/A

**To Reproduce**
Steps to reproduce the behavior:
1. Go to minio.aaw.cloud.statcan.ca
2. Click on bucket constructiondetection
3. See no data

**Expected behaviour**
Data in the bucket

[2022-01-10 15:59] jumana-s commented on #818
Fixed this by SSH into container for the minio migration and doing a `mc mirror` from the legacy MinIO bucket to the new MinIO bucket.

[2022-01-10 17:39] #785 closed

[2022-01-10 17:39] #816 closed

[2022-01-10 18:46] jumana-s commented on #810
I'll bring this up at the next team meeting and compile the information needed.

[2022-01-10 19:36] Jose-Matsuda opened #819 "[HELP] Increase resource quota manually for crop-imaging namespace"
Nicholas Denis ran into an issue with the `crop-imaging` namespace where they have 7 TB used and would like to get the resource limits upped.

This is related to https://github.com/StatCan/aaw-kubeflow-profiles-controller/issues/16. This is also a stopper for the project and I'm not too sure how to change the resource quota for the said namespace. Blair did mention that the profile controller crea

[2022-01-10 20:03] menmarc commented on #700
@sylus I'm reading a bit on the fluentd operator (https://github.com/vmware/kube-fluentd-operator/blob/master/README.md). Should I follow what's written on "Ingest logs from a file in the container" section ? Is that the way to proceed ?

[2022-01-10 21:23] skyeturriff opened #821 "BUG: tensorflow image not able to use gpu"
Client reported issue on Jan 6 of not being able to use the GPU while using the jupyterlab-tensorflow image.

Namespace: ryan-murdoch (but affects all)
Notebook/server: jupyterlab-tensorflow (with gpu)

Confirmed use of correct image, and confirmed tf is installed and works, and is able to recognize the GPU:
![image](https://user-images.githubusercontent.com/14057112/148839614-4801a926-8ed7-47b5-9

[2022-01-10 21:26] skyeturriff commented on #821
From client:

[2022-01-10 22:28] skyeturriff commented on #821
Running nvidia-smi gives the following output showing almost all of the gpu's 16MB being used. But only one process using up 825MB

![image](https://user-images.githubusercontent.com/14057112/148849016-50a5ea5b-f063-4172-a7ca-fc13076a9b1a.png)

[2022-01-10 22:43] #811 closed

[2022-01-11 16:48] #792 closed

[2022-01-11 17:10] rohank07 commented on #821
Tensorflow docker file installs CUDA version 11.0
https://github.com/StatCan/aaw-kubeflow-containers/blob/master/output/jupyterlab-tensorflow/Dockerfile#L53
Running `nvdiai-smi` in the terminal shows CUDA version 11.4 with missing cudnn and cudatoolkit.
![image](https://user-images.githubusercontent.com/28408586/148988756-efe05b76-f358-4091-9cb5-40e16fd79b4c.png)
Running `import tensorflow import

[2022-01-11 17:58] skyeturriff commented on #759
Got some directions from Gary on how to build and run the webapp (Server version) on linux VM without Qt Creator (which is where we ran into issues):

cd ~/rstudio/dependencies/linux
./install-dependencies-debian
cd ~/rstudio/src
mkdir build
cd build
cmake ../cpp -DRSTUDIO_TARGET=Server -GNinja
ninja
./rserver-dev (leave running)
cd ~/rstudio/src/gwt
./ant devmode (leave running)

Browse to http:/

[2022-01-11 18:22] rohank07 commented on #821
Ran `conda install cudatoolkit=11.2 ` and   ` conda install cudnn=8.1  ` in the nb terminal. It ran the TF sample code with no problem. Next Step: Figure out how to pre-install cudatoolkit and cudnn in the TF image on the base conda env.

[2022-01-11 19:23] #797 closed

[2022-01-11 19:50] Jose-Matsuda commented on #793
Nancy has confirmed that their user was able to resolve and download the ubuntu image

[2022-01-11 19:50] #793 closed

[2022-01-12 01:55] rohank07 commented on #821
Link to docker file bits to upgrade to CUDA 11.5 `Ubuntu 18.04  [arm64, x86_64]`
https://hub.docker.com/r/nvidia/cuda

[2022-01-12 16:15] YannCoderre commented on #668
@blairdrummond please review. Can this be closed?

[2022-01-12 16:17] blairdrummond commented on #668
I think so, I think this was only applicable to the old *.covid.cloud.statcan.ca addresses

[2022-01-12 16:45] chuckbelisle commented on #739
@jumana-s can we take care of this during this sprint?

[2022-01-12 16:58] jumana-s opened #822 "Vault terraform shows errors for AAW-DEV-CC-00 CI"
The CI/CD pipeline in dev seems to fail because of Vault, and some resources don't seem to be applied because of Vault's failure.

[2022-01-12 17:45] sylus commented on #813
Hi @Noznoc  I believe we fixed this problem late last week.

Are you still experiencing this problem?

[2022-01-12 17:47] jumana-s commented on #739
Already done last month actually.

[2022-01-12 17:47] #739 closed

[2022-01-12 18:01] sylus commented on #700
@menmarc so atm all your logs are relayed to our centralized ES.

I assume you want to relay to your own instance and this is what you would put in your configmap called for example `flutend-config` in your namespace:

<code>
<filter **>
   @type record_transformer
   <record>
     cluster "${var.cluster_name}"
   </record>
</filter>

<match **>
  @type elasticsearch
  hosts "XXXXX"

  user "XXXXX

[2022-01-12 18:29] Jose-Matsuda opened #823 "Elaborate on what we want to keep in the cluster"
EPIC: https://github.com/StatCan/daaas/issues/795

Won't give too much information but need to talk about any items relating to the epic that we want to keep

[2022-01-12 18:37] Noznoc commented on #813
Thank you, seems the connection issue is resolved :)

[2022-01-12 18:38] sylus commented on #813
Awesome! :D

[2022-01-12 18:38] #813 closed

[2022-01-12 18:39] Jose-Matsuda opened #824 "Investigate the update of KF 1.3 and its impacts to issue 795"
EPIC: #795

Investigate if abcd under the xyz namespace will see any fixes.

[2022-01-12 18:42] menmarc commented on #700
@sylus thanks! for this to work, how should I output the log from our app ? do I need to do a simple stdout ?

[2022-01-12 18:43] sylus commented on #700
@menmarc yes it will need to be stdout. ^_^

[2022-01-12 18:44] wg102 opened #825 "Research into 1.3 Upgrade"
This ticket is to track time about the research on this Epic https://github.com/StatCan/daaas/issues/530

I will be reading into the 'how to upgrade to 1.3' and which systems it affects, expected issues etc.
The information will be independant of our own repo. By this I mean that since we have our own forks, additional work will be needed for rebasing, but it should help guide us in the process no

[2022-01-12 18:45] #744 closed

[2022-01-12 18:45] menmarc commented on #700
@sylus thanks! where can I find the correct cluster name ?

[2022-01-12 18:46] menmarc commented on #700
@sylus oh I think I have it (aaw-dev-cc-00-aks)

[2022-01-12 19:35] sylus commented on #700
Feel free to reopen if a problem but i think u have all you need!

[2022-01-12 19:46] rohank07 opened #826 "Ui Binder files fr prop translations"
- [x] InfoBarMyBinderImplGenMessages_en.properties
- [x] ProgressDialogBinderImplGenMessages_en.properties
- [x] ShortcutInfoPanelShortcutInfoPanelUiBinderImplGenMessages_en.properties
- [x] SlideLabelSlideLabelUiBinderImplGenMessages_en.properties
- [x] VimKeyInfoVimKeyInfoUiBinderImplGenMessages_en.properties
- [x] AboutDialogContentsAboutDialogContentsUiBinderImplGenMessages_en.properties
- [x]

[2022-01-12 19:50] sylus commented on #658
I think this has long since been fixed please reopen if this is not the case.

[2022-01-12 19:50] #658 closed

[2022-01-12 20:59] menmarc commented on #700
@sylus I still don't see logs in kibana. Here's the config file https://github.com/StatCan/charts/blob/master/stable/disclosure-vetting-application/templates/fluentd-configmap.yaml .

we're doing a stdout through our app but it's using a custom format. not sure if it has to follow a strict format. We can see the stdout in the Log tab (in the vetting pod) in argocd

[2022-01-12 21:00] sylus commented on #700
Hmm it looks all correct to me at a first glance, i'll take a look.

[2022-01-12 21:17] jumana-s commented on #810
We recently sent a request to fix our front end namespace creation process (this is the only remaining task) we'll send out an update to the whole community once it's completed.

If you are still interested in adding details to our documentation, you could add details on how to enable multiple owners for a namespace.  The process would be to have the current owner's approval, or the approval of th

[2022-01-13 14:49] chuckbelisle commented on #791
@ktjaco could confirm if you are still having the same issue with setting your sub to aaw? @YannCoderre has added you yesterday to a set of groups belonging to our sub

[2022-01-13 15:00] jumana-s opened #827 "check if all MinIO buckets in gateway standard have their data"
Double check that after the migration all buckets have their data .

[2022-01-13 15:13] chuckbelisle opened #828 "BUG: workflows not being cleaned up"
**Describe the bug**
Reported by @sylus that both prod and dev have workflows that are not being cleaned up automatically as designed

**Environment info**
Prod and Dev clusters

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
![image (1)](https://user-images.githubusercontent.com/13248342/149356264-a062d23d-a927-44ba-922a-2a8171be22a0.png)

[2022-01-13 15:22] chuckbelisle commented on #740
@chritter can I be made a contributor on "dscd-nserc" NS?
Krishna created a test pro-b server to capture logs related to the no-VNC sessions continuously disconnecting.

[2022-01-13 16:17] ToucheSir commented on #809
Just adding on a easy way I found to trigger this: `mc cp -r ...` will consistently complain if there are more than a couple of files present at the source path (and fail to up/download most of them).

[2022-01-13 19:15] rohank07 commented on #828
From the looks of it https://github.com/StatCan/aaw-argocd-manifests/blob/aaw-prod-cc-00/daaas-system/workflows-cronjob/cron.yaml#L51 The workflow will get deleted if it is older than 5 days. That would explain the wfs that are in the error state.

As for the wfs under the nrcan-btap and yanpeng-gao ns (pipeline-workflows), they don't include the `"scheduledworkflows.kubeflow.org/isOwnedBySchedule

[2022-01-13 19:35] blairdrummond commented on #828
Oh that's because they were Argo workflows, not kubeflow pipelines.

You'll want to just edit your selector to use the argo workflows label

[2022-01-13 19:35] blairdrummond commented on #828
Good find @rohank07 !

[2022-01-13 19:42] rohank07 commented on #828
Is there anything else you want me to look at or can this be closed?

[2022-01-13 19:44] blairdrummond commented on #828
Can you edit the workflow-cleanup script to use a selector that accounts for these?

[2022-01-13 19:52] ktjaco commented on #791
@chuckbelisle Same error when I try to run the same command.
![image](https://user-images.githubusercontent.com/14288239/149399644-4a8ce175-e5b8-478c-bc56-263333b9e667.png)

[2022-01-13 23:27] lampson opened #829 "BUG: Kibana dev is down"
**Describe the bug**
Dev Kibana is down
URL: https://org-fdi-system-portal-kb.aaw-dev.cloud.statcan.ca/
Error:
{"statusCode":503,"error":"Service Unavailable","message":"License is not available."}

**Environment info**
connecting through browser, OZ environment.

**To Reproduce**
1. Go to URL

**Expected behaviour**
search results are present on portal: https://org-fdi-system-portal.aaw-dev.cloud

[2022-01-14 02:20] sylus commented on #829
It turns out elastic search wasn't being scheduled in the general node pool because the one of the disks had an affinity rule on its pvc to cancentral-3 and that node was full. I added a new node to the general pool and kicked off a few pods on one of the node in cancentral-3 and this got scheduled and seems to work now!

[2022-01-14 02:20] #829 closed

[2022-01-14 03:05] sylus commented on #700
@menmarc can you check now?

I see that the logs are being relayed now. :D

[2022-01-14 03:16] lampson commented on #829
looks good, thx Will.

[2022-01-14 15:07] sylus commented on #789
i think these are now decomissioned as I understand.

[2022-01-14 15:07] #789 closed

[2022-01-14 15:08] sylus commented on #141
This should be closed since we are now using ArgoCD

[2022-01-14 15:09] sylus commented on #95
Lets close this and reopen if hear any further news.

[2022-01-14 15:09] #95 closed

[2022-01-14 15:10] #48 closed

[2022-01-14 15:25] menmarc commented on #700
@sylus where do you see this ? I still don't see these logs in kibana. I expected to find an index called kubernetes-project-... but it's not there.

[2022-01-14 16:01] sylus commented on #700
I see the kubernetes-project-2022.01.14 in kibana under index management of doc count 25 and storage size  286.4KB so the logs are definitely relaying.

[2022-01-14 16:01] #700 closed

[2022-01-14 16:02] menmarc commented on #700
@sylus you are right I see it too. Sorry about that not sure what happened. I'll close this issue for now. Thanks a lot for your help :)

[2022-01-14 17:02] chuckbelisle commented on #740
I was able to capture the error in istio container for "test-minio-prob" in dscd-nserc NS
`2022-01-14T16:59:28.833333Z    info    transport: loopyWriter.run returning. connection error: desc = "transport is closing"                                                                                                              2022-01-14T16:59:28.833349Z    info    pickfirstBalancer: HandleSubConnStat

[2022-01-14 18:05] #803 closed

[2022-01-17 12:31] blairdrummond commented on #819
You actually cannot change it manually, because it gets re-applied automatically by a controller. You instead need to add a configuration option to the controller and then add a label to the namespace

[2022-01-17 16:24] johan-fern opened #830 "BUG: Notebook server inaccessible due to pod creation failed error"
**Describe the bug**
The sedar-dev notebook on the aaw-sedar notebook sever is currently inaccessible. The connect button is disabled and the status appears as : _An error has occurred, pod creation failed. Check kubectl pod creation for more information_ .

**Environment info**
Namespace: aaw-sedar
Notebook: sedar-dev

**To Reproduce**
The sedar-dev notebook is displayed on the aaw-sedar notebook

[2022-01-17 16:24] wg102 commented on #825
I have read a few sites/posts on how to upgrade or install the 1.3 kubeflow.
Many were not usefull. Here is the list of the ones that were.
- https://github.com/kubeflow/manifests/tree/v1.3.1
- https://www.kubeflow.org/docs/releases/kubeflow-1.3/ possibly not up to date...
- https://v1-3-branch.kubeflow.org/docs/components/

The idea is simple, start with a component, go to the next.
Some of the f

[2022-01-17 16:24] #825 closed

[2022-01-17 16:27] wg102 commented on #530
the i18n  with angular of crud-web apps and it's impact is out of scope for the 1.3 upgrade since it was merged upstream in 1.4 [see 1.4 release notes](https://github.com/kubeflow/kubeflow/releases/tag/v1.4.0)

[2022-01-17 16:30] jumana-s commented on #827
Sent list of bucckets with different sizes to Blair.

[2022-01-17 16:30] #827 closed

[2022-01-17 18:11] sylus commented on #822
I'm fixing this right now by removing all of the old leases which @zachomedia tells me will fix this problem.

[code]

Once this is done I will retry the terraform and confirm it is green.

[2022-01-17 18:45] blairdrummond commented on #822
I'm trying that too but I don't think it's successfully removing any leases, even with `-f`.

I am working on deploying something to fool Vault into thinking a revocation was successful

[2022-01-17 18:51] sylus commented on #822
@blairdrummond it is removing them it just takes time, i have so far already cleared the minio-premium.

Its looping on minio-standard right now.

[2022-01-17 20:10] chuckbelisle commented on #830
@saffaalvi was able to get the json output for the namespace, see screenshot below
![image](https://user-images.githubusercontent.com/13248342/149831555-359c0df1-5bae-4c73-a239-fd182900cb45.png)

[2022-01-17 21:58] chuckbelisle commented on #830
An email to AAW users was sent in an effort to clean up old test notebooks/servers. This will free up resources and allow new servers to be spun up.

[2022-01-17 21:59] chuckbelisle commented on #830
@johan-fern could you explain the reason why you dev server is being allocated double the cpu than your prod host? Have you had issues with compute power?

[2022-01-17 22:10] johan-fern commented on #830
@chuckbelisle, when we initially started the dev server we were experimenting with multiple libraries that were quite resource intensive and hence we used 8 CPU's for the dev server. We can now work with 4 CPU's as well. If you can assign 4 CPU's to our dev server, that would be great. Thank you!

[2022-01-18 14:09] wg102 opened #831 "Jupyter/CWA"
This is an item of https://github.com/StatCan/daaas/issues/530

Areas of concern:
- go code needs to be recoded or at least upgraded
- dependant on kubeflow-controller -> possibly copy the necessary folder into the new place/repo to avoid the dependency.
- folder structure completely different
- want to merge into the kubeflow/crud-web-apps? (to confirm)
- how? have a go backend folder? (the upstr

[2022-01-18 14:13] wg102 opened #832 "1.3 Upgrade: Pipelines"
This is an item of https://github.com/StatCan/daaas/issues/530
### What to do:
This one should be straight forward.
The one major change (to verify if new version) is we added i18n.
We need to rebase our repository, and add the probable few missing translations. It is possible an issue was already created for it a few weeks ago.

### Version:
We need to check wich version of pipelines is good with

[2022-01-18 15:01] wg102 opened #833 "Upgrade 1.3: Kubeflow"
This item is part of https://github.com/StatCan/daaas/issues/530

The work of Kubeflow **_EXCLUDING CWA_** (see https://github.com/StatCan/daaas/issues/831)

### Versions:
We are currently on version 1.2. We want to go to version 1.3.1.
Here is the [documentation ](https://github.com/kubeflow/manifests/tree/v1.3.1)of which version to use with 1.3.1

### We use:
- Central Dashboard
- Pipelines
- Ma

[2022-01-18 18:09] skyeturriff commented on #821
Client tried testing out the image but ran into issue:

Will try to replicate and also test on previous image

[2022-01-18 19:01] dajadam commented on #748
@blairdrummond Do you think you will have time to work on this ticket this week? If not, when do you think you might have time? Thanks!

[2022-01-18 21:24] chuckbelisle commented on #830
In order to resolve the issue I had to

- Clean up old, idle notebooks (100+ days old and usused)
- Resize notebooks that are greatly under-utilised

Note: sedar-dev was set to 4 CPUs limit/request

Johan confirmed being able to connect to host

[2022-01-18 21:24] #830 closed

[2022-01-18 21:31] chuckbelisle commented on #219
@blairdrummond & @zachomedia is there an update on enabling more GPUs per notebook server?

[2022-01-19 14:36] wg102 commented on #833
Based on the way we did 1.2, this is the recommanded way:
How we rebase to the v1.3
1.Go on stc-master of kubeflow kubeflow
2. Get the code from upstream, in a branch called upstream
3. git remote -v should now show 4 choices.
4. Create the branch v1.3
5. git rebase upstream/v1.3-branch
6. Fix merge conflicts,
7. Create a PR with tag auto build
8. Use the image that was pushed to acr in the dev en

[2022-01-19 16:38] wg102 commented on #831
We need to test if the performance issue was  fixed. if it is we might not even need to recode into go.

[2022-01-19 20:38] skyeturriff commented on #821
Confirmed `conda install opencv` works on existing image. It grabs `opencv-4.5.2               |   py38h578d9bd_0`, which I can see via `conda search opencv` on the updated image, but I get the same error as client when attempting to install:

![image](https://user-images.githubusercontent.com/14057112/150209582-2745dcd1-742a-4ed0-9733-ebf400eaf057.png)

Most of the fix suggestions I have seen sug

[2022-01-19 20:45] blairdrummond commented on #821
@Collinbrown95  I think they need to make a new conda env with the newer python version?

[2022-01-19 20:59] skyeturriff commented on #821
@blairdrummond I saw that as a suggestion when I was looking into it, but I wasn't sure whether that'd be an acceptable fix or not. But it looked like a lot of users who were running into this issue with opencv ended up doing just that - something like `conda create --name env_name -c conda-forge opencv`

[2022-01-19 21:03] blairdrummond commented on #821
Python packaging is a crapshoot, I think that's probably a decent solution though. That's what I would do.

[2022-01-20 15:43] blairdrummond commented on #748
@sylus What's the recommended process for external URLs for Kibana? `VirtualService` or `Ingress`? Anything needed?

[2022-01-20 15:51] sylus commented on #748
Ingress I believe and i assume is how all the others are done aaw-argocd-manifests ^_^

[2022-01-20 16:44] skyeturriff commented on #833
TODO: Create child issue for disabling/refactoring addition of Volume Web Apps

[2022-01-20 20:05] chuckbelisle commented on #791
Hi @ktjaco we've modified the AZ groups and you will now be able to set your az account sub to aaw.

Added to following group:
- DAaaS-AAW-Developers

Added role
- Azure Kubernetes Service Cluster User Role

[2022-01-20 20:17] Jose-Matsuda commented on #821
Dropping what I know / found out here.

This probably came from when we forcibly [downgraded](https://github.com/StatCan/aaw-kubeflow-containers/blob/c0c1be3cf2073dfa7d1c969d6038dff8b34f0d97/output/jupyterlab-tensorflow/Dockerfile#L28) python to accommodate for ml-metadata not having a relevant python 3.9.x installation. We downgraded because we also updated the `base` jupyter datascience notebook

[2022-01-20 20:20] menmarc commented on #748
@sylus when can this be done ?

[2022-01-20 20:21] sylus commented on #748
@menmarc i think @blairdrummond is doing this

[2022-01-20 20:56] blairdrummond commented on #748
Yes, shortly

[2022-01-20 20:58] #828 closed

[2022-01-20 21:16] blairdrummond commented on #748
Your Kibana ingress is up. @menmarc let me know if you can use the internal ES url; it's better to avoid an ingress if possible.

[2022-01-21 14:49] menmarc commented on #748
It is working fine now ! We have an internal URL for elastic search and a public url for kibana. Thanks a lot for your work on this @sylus and @blairdrummond

[2022-01-21 14:49] #748 closed

[2022-01-21 14:53] wg102 commented on #832
Readmes to read to be able to run the code locally.

- [frontend](https://github.com/kubeflow/pipelines/blob/1.5.1/frontend/README.md)
- [backend](https://github.com/kubeflow/pipelines/blob/1.5.1/backend/README.md)
- [contribution](https://github.com/kubeflow/pipelines/blob/1.5.1/CONTRIBUTING.md)

[2022-01-21 15:06] skyeturriff commented on #760
PR created upstream

[2022-01-21 15:06] #760 closed

[2022-01-21 15:23] wg102 commented on #832
Once the rebasing is done, we will need to build the image and go through all options to see for new untranslated text.
While the rebasing is in progress i will note a few things untranslated.

- [ ] frontend/src/pages/RunDetails.tsx like 343 'Details'
- [ ] frontend/src/pages/RunDetails.tsx line 890*891 'Run ID' + 'Workflow name': more detials were added to the get details function.
- [ ] Tests i

[2022-01-21 18:44] #668 closed

[2022-01-21 19:18] ktjaco commented on #791
All is good now. :)

[2022-01-21 19:18] #791 closed

[2022-01-21 20:15] blairdrummond commented on #822
@sylus we got the ticket on upstream Vault re-opened https://github.com/hashicorp/vault/issues/5293 . So hopefully no need for this madness in the future.

[2022-01-24 15:14] sfade070 opened #834 "BUG: Cannot create a notebook to a pre-existing volume."
**Describe the bug**
I cannot create a notebook to a pre-existing volume.

**Environment info**
Namespace: nowcastings
Notebook/server: pipeline-dfm-100

**To Reproduce**
Steps to reproduce the behavior:
1. Go to : https://kubeflow.aaw.cloud.statcan.ca/_/jupyter/new
2. Click on new server and create the server with  the "pipeline-dfm-100" existing volume
3. See error

**Screenshots**
![image](http

[2022-01-24 16:10] blairdrummond commented on #834
@sfade070 we'll fix this, but for now can you mount the existing volume as a data volume instead? That should fix the problem

[2022-01-24 16:29] sylus commented on #219
Please decomission the old storage pool before we can look at this.

Thx!

[2022-01-24 16:44] sylus commented on #560
@zachomedia what is left for this issue?

[2022-01-24 16:49] Jose-Matsuda commented on #821
I tried looking into messing around with channel priority in Friday but no dice.

In a notebook
![image](https://user-images.githubusercontent.com/23174198/150827161-ed490940-f6e4-4c52-93ed-6e5759c0251c.png)

In the dockerfile
![image](https://user-images.githubusercontent.com/23174198/150827273-cca73b34-4671-4a74-8612-dfc54636ffc8.png)

[2022-01-24 18:12] KHobbs3 opened #835 "BUG: AAW notebook connection failing"
**Describe the bug**
Green checkmark visible on notebook but after clicking connect see the following error: "UNAVAILABLE:upstream connect error or disconnect/reset before headers. reset reason: connection failure."

**Environment info**
Namespace: bar-rtlbci
Notebook/server: processing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to bar-rtlbci namespace
2. Click 'Connect'
3. See error

[2022-01-24 18:18] Jose-Matsuda commented on #832
Think I was able to get a test environment going?

![image](https://user-images.githubusercontent.com/23174198/150840850-ef0bae8d-8b8c-49e0-8feb-8024aee5a2e8.png)
![image](https://user-images.githubusercontent.com/23174198/150840862-77836b83-840a-4880-adca-2670b0e50518.png)

Just ran the following
![image](https://user-images.githubusercontent.com/23174198/150840880-d3177c80-d636-45f8-b4b6-14cb824

[2022-01-24 18:50] KHobbs3 commented on #835
Seems to be working now!

[2022-01-24 18:57] KHobbs3 commented on #835
NEW ISSUE:

Unable to install python packages using `conda install <package>`.

e.g. installing numpy:

<img width="749" alt="image" src="https://user-images.githubusercontent.com/38924387/150846135-32bb0795-1fb6-4c28-b805-e0eefd0bcf53.png">

[2022-01-24 19:09] KHobbs3 commented on #835
Also resolved :)

[2022-01-24 19:09] #835 closed

[2022-01-24 19:39] #650 closed

[2022-01-24 22:25] #826 closed

[2022-01-25 13:51] chritter commented on #219
This would allow us to expand to the application of larger pre-trained language models (largest BERT models, and succeeding transformer models) in natural language processing leading to better performance!

[2022-01-25 15:33] chritter commented on #740
@chuckbelisle I am not the namespace owner nor the project owner. You can check with Krishna about those details.

[2022-01-25 15:43] chuckbelisle commented on #740
Reported by @chritter in Slack support channel that the same issue is being experienced in another shared namespace

[2022-01-25 15:47] Jose-Matsuda commented on #832
Failing Tests

`src/pages/ResourceSelector.test.tsx`
This one seems a bit odd, the expected and received date are weird and there's an error now. Will save this single failing test for later

[2022-01-25 18:50] #773 closed

[2022-01-25 19:21] chuckbelisle opened #836 "[FEAT] kubeflow set cpu/mem ratio"
**Is your feature request related to a problem? Please link issue ticket.**
We have noticed servers being spun up with 1:2 cpu to mem ratio where we strongly suggest 1:4. This congests our CPU pool on our kubernetes cluster

**Describe the solution you'd like**
when creating a new server in kubeflow to offer one of these options
1. cpu count adjustment automatically set memory or vise versa to a 1

[2022-01-26 14:56] skyeturriff opened #838 "Kubeflow 1.3 Upgrade: Local testing"
Local testing before getting it into dev.

Linked with https://github.com/StatCan/daaas/issues/833

We're doing it as a separate issue as more effort is required to investigate why build tests are failing, and to build a successful image for deployment into local kubeflow cluster (following these [instructions](https://github.com/kubeflow/kubeflow/tree/v1.3.1-rc.0/components/centraldashboard#build

[2022-01-26 15:09] wg102 commented on #832
This issue is tagged as blocked until we can get the json-schema CVE fixed, and therefore able to push images to acr.
For this issue, the testing was finished locally. The only thing left, once the cve is fixed, is possibly to change the history to squash down the commits. And it will be ready for review, hence why it is currently a draft PR.

[2022-01-26 15:32] chuckbelisle opened #839 "[EPIC]: Monitoring"
## Details

We require a metrics and logs aggregation solution with notification in order to have a better understanding of our platform. This will allow us to address before our users report them and improve our resource usage efficiency.

## Tasks

* Implement i18n in:
    - [ ] Metrics aggregation and monitoring (Prometheus & Grafana)
    - [ ] App log aggregation and monitoring (FluentD)
    -

[2022-01-26 15:41] Jose-Matsuda commented on #821
Closed as per https://github.com/StatCan/aaw-kubeflow-containers/pull/311 since the original issue is fixed,  but there is a new issue of requiring the work-around to install packages from Conda

[2022-01-26 15:41] #821 closed

[2022-01-26 15:43] Jose-Matsuda opened #840 "BUG: Difficulty installing from conda"
**Describe the bug**
Discovered with this https://github.com/StatCan/daaas/issues/821

**Environment info**
Namespace: any namespace
Notebook/server: any notebook

**To Reproduce**
Steps to reproduce the behavior:
1. `conda install opencv`

**Expected behaviour**
For opencv to be installed without error

**Additional context**
Now there exists a workaround where you do `conda install --channel htt

[2022-01-26 15:44] Jose-Matsuda commented on #840
Assigning this to you for now Bryan just to keep things tracked but I'm unsure of prios.

[2022-01-26 16:01] wg102 commented on #831
This issue will be half like an epic. So the actual epic is not swamped.
1. Do we want to code the things we don't use as well?
2. Do we want to upstream the go code?

The parts to code:
- Common
- Jupyter
- Tensoboards
- Volumes

[2022-01-26 16:04] chuckbelisle opened #841 "Dev Metrics aggregation and monitoring (Prometheus & Grafana)"
Get our current implementation of Prometheus and Grafana running and usable for relevant metrics (aka MVP)

## Dev work
- [ ] Complete evaluation
- [ ] Implement changes

[2022-01-26 16:05] chuckbelisle opened #842 "Prod Metrics aggregation and monitoring (Prometheus & Grafana)"
Depends on #841
Get our current implementation of Prometheus and Grafana running and usable for relevant metrics (aka MVP) continued
## Prod work
- [ ] Evaluate delta with Dev
- [ ] Roll out required changes to match Dev

[2022-01-26 16:40] jumana-s opened #843 "Prepare presentation with Lyly"
Prepare presentation for sprint demo day with Lyly on **FDI & AAW integration**

[2022-01-26 16:48] chuckbelisle opened #844 "Kibana DEV mvp tasks"
Configure Kibana dev and prod with mvp requirements

## tasks
- [x] Assess infra
- [x] Create new NS - TF (gitlab repo)
- [x] Deploy using ArgoCD
- [x] Integrate existing fluentd infrastructure logging
- [x] Uptime check for cluster critical services (MinIO gateway, Jupyter API, Vault, Azure-NPM)
- [x] Setup local groups and users (dev team only) (no SSO for ES at this time)

Dev URL: https://moni

[2022-01-26 16:49] chuckbelisle opened #845 "[Epic] Grafana MVP tasks"
Configure Grafana dev and prod with mvp requirements

## Tasks
- [x] Assess infra
- [x] Determine if we need to deploy in new monitoring NS or reuse the existing deployment
- [x] #1108
- [x] #1154
- [x] #1109
- [x] #1110
- [x] #1111
- [x] #1307
- [x] #1112

TBD URL:
prod URL: https://grafana.aaw.cloud.statcan.ca/
dev URL: https://grafana.aaw-dev.cloud.statcan.ca/

[2022-01-26 17:17] wg102 opened #846 "Investigate effort of testing Python"
This relates to https://github.com/StatCan/daaas/issues/831

The idea is for CWA to be implemented, we may need to recode it like we did https://github.com/StatCan/jupyter-apis and have the backend in Go instead of Python.

From what was explained, this was due to a performance issue when using a large amount of namespaces (400+).

The idea of the ticket is to investigate how much of an effort it

[2022-01-26 17:27] wg102 opened #847 "Investigate how to split CWA refactoring"
This ticket is related to https://github.com/StatCan/daaas/issues/831

Still feel like even if it's
maybe instead of starting straight from scratch, it might make more sense to take the refactor with our code.
if we maintain python, let's pull in
we pull in this jupyter-apis into our statcan/kubeflow, as is. with the goal of refactoring it to have the same structure of the python but in go.

### N

[2022-01-26 18:01] YannCoderre opened #848 "Onboarding New Clients to AAW"
Onboarding New Clients to AAW

[2022-01-26 18:06] YannCoderre opened #849 "Create a General Information Message to be sent to new Onboarding Clients"
Create a General Information Message to be sent to new Onboarding Clients.

This message could be used to guide new clients towards the Portal (external / old) links:

1. Portal link itself (https://analytics-platform.statcan.gc.ca/covid19)
2. Documetation
3. Videos
4. etc.

[2022-01-26 18:08] YannCoderre opened #850 "Exploring Kubeflow Containers"
Bryan was given the task to familiarize himself around the KUBEFLOW containers.

[2022-01-26 18:11] YannCoderre opened #851 "Portal: MinIO Links to be Updated"
We have a few important updates to be completed on our new and old AAW portals.

OLD Portal Link: Advanced Analytics Workspace (statcan.gc.ca)
NEW Portal Link: Data Analytics as a Service (statcan.gc.ca)

Changes to be updated:

Please add the new minIO link to both portals:

1. minio.aaw.cloud.statcan.ca
2. minio-premium.aaw.cloud.statcan.ca

[2022-01-26 18:12] YannCoderre opened #852 "Portal: Fix Create Namespace Functionality"
Hello,

We have a few important updates to be completed on our new and old AAW portals.

OLD Portal Link: Advanced Analytics Workspace (statcan.gc.ca)
NEW Portal Link: Data Analytics as a Service (statcan.gc.ca)

For Kubeflow, in the options (...) --> REQUEST A NAMESPACE (...) --> Requesting a Kubeflow Namespace,  we will instead PR Jsonnet file into https://github.com/StatCan/aaw-kubeflow-profile

[2022-01-26 18:18] YannCoderre commented on #852
Closed issue by mistake

[2022-01-26 18:37] chuckbelisle commented on #740
Testing shared namespace info for this issue

name: **chuck-novnc-shared**
owner: Chuck
contributors: Rohan, Will and Zach

notebooks:
- pro-b: novnc-prob-test-1
- public: novnc-test-1

[2022-01-26 18:57] rohank07 commented on #740
Replicated disconect of noVNC session on personal namespace. The disconnect occurs between 3-5 minutes. Clients working on a shared namespace reported disconnect occurs within a minute.
istio-proxy container logs (personal namespace):
![image](https://user-images.githubusercontent.com/28408586/151224098-f19debcf-43d3-4e27-bb5a-3d0f508401e1.png)

[2022-01-27 15:41] rohank07 commented on #846
After a brief discussion with Will, verified we would need to keep the backend in Go. It will still not address the performance issue in the implementation of kubernetes-client.

[2022-01-27 15:41] #846 closed

[2022-01-27 17:08] bryanpaget commented on #840
I'll need to wait until I can access http://jfrog-platform-artifactory-ha.jfrog-system:8081 before I can look into this.

[2022-01-27 18:02] rohank07 opened #853 "BUG: Increase Storage Resources Quota For Constructiondetection Namespace"
**Describe the bug**
Christian Ritter is trying to mount additional volumes to his notebook but cannot because it is exceeding the storage request (4TB).

**Environment info**
Namespace: constructiondetection
Notebook/server: modeling-vol

**To Reproduce**
Steps to reproduce the behavior:
1. Create a nb with 512gi and 256gi volumes

**Expected behaviour**
A clear and concise description of what yo

[2022-01-27 18:43] wg102 commented on #847
It might be possible to use a tool to start most of the coding between python and golang.
See [pythago](https://preettheman.medium.com/how-to-convert-python-code-to-golang-138fdd5d3cb1)
Usefull link to learn python to go : https://towardsdatascience.com/from-python-to-go-901cea46446f

[2022-01-27 19:22] blairdrummond commented on #817
Dragging this into sprint for assessment and to explore the root-cause.

[2022-01-27 20:01] wg102 commented on #847
### Volumes
Following discussion of 27/01/22
- Some features might need to be removed for the volumes. Such features are things like browsing volumes, downloading files etc.

An idea could be to have a 'setup' that disables the ui of them + and Authorization Policy that blocks it completelyu.

[2022-01-28 03:04] sylus commented on #822
vault fdi_gateway is now deleted and aaw-dev-cc-00 CI is green. ^_^

[2022-01-28 03:04] #822 closed

[2022-01-28 03:56] Jose-Matsuda commented on #840
oh that is the in-cluster url for the artifactory instance. Previously it had been `https://jfrog.aaw.cloud.statcan.ca/artifactory/api/pypi/pypi-remote/simple` which you can access

[2022-01-28 15:21] #843 closed

[2022-01-28 17:47] bryanpaget commented on #840
I can't access https://jfrog.aaw.cloud.statcan.ca/artifactory/api/pypi/pypi-remote/simple either.

[2022-01-31 14:17] skyeturriff commented on #838
Running `npm test` fails with the error
![image](https://user-images.githubusercontent.com/14057112/151807091-7a938d14-3360-4504-a7df-c25372ac8521.png)
on merge branch, but not on upstream's v1.3 branch.

Running `npx eslint --print-config main-page.js` on both produces vastly different eslint configs. Namely of note on merge branch, the resulting config file includes:
[code]
While on upstream, th

[2022-01-31 15:11] skyeturriff commented on #838
Changing eslint version in `package.json` to match the versions used on upstream's v1.3 branch allows `npm test` to compile successfully, and results in `npx eslint --print-config main-page.js` generating an identical config to that of upstream

Versions that appeared on merge branch after the merge, where `npm test` fails:
[code]

Versions on upstream v1.3 branch, when used on merge branch allows

[2022-01-31 17:16] KHobbs3 opened #854 "Kubeflow Jupyter Lab not loading"
**Describe the bug**
A caution symbol appears in front of the `geonewsletter` notebook after creation. This has been the case for at least a week and after several reboots.

**Environment info**
Namespace: deil-lode
Notebook/server: geonewsletter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `deil-lode` namespace
2. See error

**Expected behaviour**
Being able to connect to notebook.

[2022-01-31 17:47] EkramulHoque opened #855 "BUG: MinIO update the links in the documentation"
Please update the links in this page: https://statcan.github.io/daaas/en/5-Storage/MinIO/

[2022-01-31 17:53] wg102 commented on #838
Some tests needed to be adjusted following https://github.com/kubeflow/kubeflow/commit/876016a57a33cb27c21562aa8ec6c0a514382cb7

Tehre is still one test failing, the activities-litst_test.js Show Activities in descending by lastTimesStamp

[2022-01-31 19:51] rohank07 commented on #853
PR: https://github.com/StatCan/aaw-kubeflow-profiles-controller/pull/21
Azure Container Scan has upstream issues when scanning images. Waiting on them to resolve it.
https://github.com/Azure/container-scan/issues/120

[2022-01-31 19:52] ktjaco opened #856 "Install GeoNode on AAW Dev Environment"
- [x] Scan all images with trivy.
- [ ] Create an org-geo-system system if it doesn't already exists.
- [ ] Add an application argo-cd object to [aaw-argocd-manifests](https://github.com/statcan/aaw-argocd-manifests) repository.

[2022-01-31 20:04] blairdrummond commented on #856
CC @brendangadd

[2022-01-31 20:20] #832 closed

[2022-02-01 02:07] skyeturriff commented on #838
Tests pass and image builds!
![image](https://user-images.githubusercontent.com/14057112/151903057-db327546-f3e9-436d-8e32-6550fa62bfa9.png)

[2022-02-01 09:44] wg102 commented on #847
We might also want to include some tests to make sure the golang code works as expected.

[2022-02-01 15:17] rohank07 commented on #854
I don't see a notebook created by the name of geonewsletter. Can you please re-create the notebook so I can look into it.

[2022-02-01 18:05] Jose-Matsuda commented on #854
Might be related to https://github.com/StatCan/daaas/issues/834 and https://github.com/StatCan/aaw-kubeflow-containers/pull/309 given that it seems like you are trying to make a notebook with a pre-existing volume

[2022-02-01 18:14] ogunnoo opened #857 "Notebook server won't schedule"
**Describe the bug**
I can't access the "image-processing" Notebook server

**Environment info**
Namespace: dayo-ogunnoiki
Notebook/server: image-processing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Notebook Servers'
2. Click on 'image-processing'
3. See error

**Expected behaviour**
A window displaying the content of the image-processing Notebook server

**Screenshots**
If appl

[2022-02-01 18:46] chuckbelisle commented on #740
@sylus & @zachomedia we would like some of your help debugging this issue. We think it's caused by the network policies and affecting shared namespaces. See previous 2 comments for more information.

[2022-02-02 00:30] skyeturriff commented on #838
Build image has issues with i18n. Causing errors with the menuLinks.

Meanwhile, TODOs (from parent):

- [ ]  Create child issue for disabling/refactoring addition of Volume Web Apps
- [ ]  Investigate if Central Dashboard Controller is a different offshoot of upstream's and port over any changes (also look into Manage Contributors)
- [ ]  Confirm changes from March 24 commit are implemented in ou

[2022-02-02 15:30] menmarc opened #858 "Internal elastic search URL not working in DEV"
We would like to have fluentd working with the internal url vetting (http://vetting-es-http:9200/). We tried in DEV but it's not working. Any ideas why ?

[2022-02-02 15:34] chritter opened #859 "Seldon Core networking broken"
**Describe the bug**
API access to a deployed seldon service is possible anymore. `Connection reset by peer` while the setup was working previously.

**Environment info**
Namespace: christian-ritter (dev), sdep (prod)
Notebook/server: seldondev (dev), seldonp (prod)

**To Reproduce**

reproducible example: https://gitlab.com/dsd4/seldon_api_deploy/seldon_aaw_examples/-/tree/main/custom-image

**Ex

[2022-02-02 18:14] chritter opened #860 "BUG: ElasticSearch not accessible"
**Describe the bug**
Kibana at  http://daaas-system.kibana.aaw.cloud.statcan.ca/ is not accessible anymore.

**Environment info**
RBAC denied for Kibana

**To Reproduce**
Steps to reproduce the behavior: accessing the Kibana URL.

**Expected behaviour**
Access to Kibana UI.

[2022-02-02 18:39] rohank07 commented on #857
Can you try deleting the notebook server and then try creating a new one nb server with the existing workspace volume.

[2022-02-02 19:37] chuckbelisle commented on #860
@chritter the service is now up and running, I also tested the authentication and it also works. Thank you for raising the issue.

[2022-02-02 19:37] #860 closed

[2022-02-02 20:21] #833 closed

[2022-02-02 20:51] menmarc commented on #858
It is now working

[2022-02-02 20:51] #858 closed

[2022-02-02 20:52] menmarc opened #861 "Scan error pipeline"
We're getting a vulnerability scan error for our app https://github.com/StatCan/disclosure-vetting-application/runs/5042767305?check_suite_focus=true

but no error report shows up. what is going on ?

[2022-02-03 02:19] ogunnoo commented on #857
Would the work I've done in that Notebook server be preserved when I do that?
@rohank07

[2022-02-03 18:44] #855 closed

[2022-02-03 19:15] sylus commented on #861
This was a bug with the upstream github action it should work now, if not please reopen.

[2022-02-03 19:15] #861 closed

[2022-02-03 20:01] blairdrummond commented on #815
@KrishnaChaitanya-Gopaluni sorry for the delay. I think this is not on our roadmap any time soon, @brendangadd can you confirm?

[2022-02-03 20:08] blairdrummond commented on #859
I think this is resolved @chritter ?

[2022-02-03 20:39] chritter commented on #859
@blairdrummond Yes, thank you. This was for using a model from the acr.

[2022-02-03 20:39] #859 closed

[2022-02-03 23:28] blairdrummond commented on #750
@chritter is this still an issue? My preferred approach to this would be to wait-out the CVEs until they're patched upstream

[2022-02-03 23:33] #433 closed

[2022-02-04 14:13] blairdrummond opened #863 "[Epic] Ingesting trusted and untrusted data into protected-b environment"
Conversation kicked-off by https://github.com/StatCan/aaw-kubeflow-containers/issues/303

We may want to itemize these and track them separately (e.g. TorchVision, Hugging Face, Tensorflow, etc), but first might want a discussion:

- **Any user can already get these** through an inconvenient workflow, pull in unprotected notebook, push to minio, pull from read-only minio.
- Basically, Sneakernet e

[2022-02-04 15:17] ogunnoo commented on #857
I didn't see a "workspace-jup-processing" in the Notebook volumes section.

[2022-02-04 15:59] Jose-Matsuda opened #864 "Investigate troubles with deploying custom kubeflow-pipeline in KF 1.3 AAW DEV"
As per Will
[code]

[2022-02-04 16:24] jumana-s opened #865 "BUG: connecting to a notebook takes a while and no vault credentials in notebook"
**Describe the bug**
Starting up a relatively small notebook doesn't allow you to connect to it for a while.  It gives the error message:
**upstream connect error or disconnect/reset before headers. reset reason: connection failure**

My 4 CPU, 16 Gi Memory notebook took 40 minutes for the notebooks to actually connect.
My 1 CPU, 4 Gi Memory notebook took 9 minutes.

Vault also doesn't provide any

[2022-02-04 16:43] sylus commented on #865
This is caused by:

https://github.com/StatCan/daaas/issues/680

[2022-02-04 16:43] #865 closed

[2022-02-04 18:19] Jose-Matsuda opened #866 "BUG: Grey screen on starting up jupyterlab notebook"
**Describe the bug**
In the namespace `jonathanbaillargeon`

![image](https://user-images.githubusercontent.com/23174198/152581837-66f61d24-84cf-4943-ab44-19129eeb35b9.png)

**Environment info**
Namespace: jonathanbaillargeon
Notebook/server: Any server with the `workspace-test2` volume attached. Image is
jupyterlab-cpu:1239314e

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2.

[2022-02-04 18:22] Jose-Matsuda commented on #866
Ok even trying it with the older image `1b5c3b61` this is still borked. Maybe something in the volume itself is causing this behaviour

[2022-02-04 18:53] gutojos opened #867 "[HELP] New namespace creation"
Hello, I'd like to have a new namespace created: stc-expenditure-forecasting. Thanks.

[2022-02-04 20:16] Jose-Matsuda commented on #866
This is the cause https://github.com/StatCan/aaw-kubeflow-containers/blob/1239314e38e0c450ebd88d72337be15e382a1d98/resources/common/start-custom.sh#L44
There was an extra `>` and we want to completely overwrite and not append.

This is the case with French notebooks and also happened to get restarted

[2022-02-04 20:28] rohank07 commented on #857
![](https://user-images.githubusercontent.com/28408586/152362323-f22a8723-cae5-4b31-8869-b41a5fb98114.png)
You should see the the volume in the drop down ^

[2022-02-04 20:43] rohank07 commented on #864
@sylus found that we needed to DISABLE_GKE_METADATA env flag to  ml-pipeline-ui deployment https://github.com/kubeflow/pipelines/pull/3118

[2022-02-04 20:43] #864 closed

[2022-02-06 22:07] chritter commented on #798
My yaml file for Seldon deployment:
[code]

[2022-02-06 23:01] blairdrummond commented on #798
Mystery solved!!! Istio injection was disabling the init container from pulling the model. (CC @sylus , I think Seldon and KServe will be affected by this)

@chritter 's yaml that we worked on was almost correct, but I had istio injection as a label instead of an annotation :face-palm:

Revised yaml

[code]

In order to enable seldon by default, I think we'll need a mutating webhook or something t

[2022-02-07 13:41] #866 closed

[2022-02-07 14:41] chuckbelisle commented on #867
@gutojos please confirm your cloud account username.

[2022-02-07 14:50] #867 closed

[2022-02-07 14:56] YannCoderre commented on #851
Work completed in JIRA [DAAASM-1293](https://jirab.statcan.ca/browse/DAAASM-1293)

[2022-02-07 14:56] #851 closed

[2022-02-07 14:58] YannCoderre commented on #849
Message created:

(See French translation below)
Welcome to Advance Analytics Workspace (AAW),
See below some key URLs in order to get started:
•	AAW portal: https://www.statcan.gc.ca/data-analytics-service/aaw
•	Kubeflow dashboard: https://kubeflow.aaw.cloud.statcan.ca/
•	Documentation / Help: https://statcan.github.io/daaas/
•	Slack Support space: http://statcan-aaw.slack.com/
Get Started:
 Visi

[2022-02-07 14:58] #849 closed

[2022-02-07 15:03] YannCoderre commented on #848
This ticket, as is, would always be open as we are constantly onboarding new clients to AAW. The onboarding team (Yann and Bryan) have started onboarding many clients. Onboarding JIRA board has been completed. Onboarding email message has been created and has already been used with many clients. Onboarding AAW team has started  meeting with CSU on a weekly basis to review all current client requir

[2022-02-07 15:03] #848 closed

[2022-02-07 15:10] chuckbelisle commented on #745
Confirming that both commands now work. We are now working on a workaround for this issue.

[2022-02-07 15:19] StanHatko commented on #817
I'm seeing this bug right now on the Protected B MinIO. I think if I wait long enough the file will eventually transfer, I'll check back and see if the current file finishes transferring soon.

[2022-02-07 16:06] StanHatko commented on #817
It seemed to stall and I wanted to proceed with the work, so I terminated it and retried a few times. At the end of the first attempt the transfer speed of the 17.39 GiB file was 9.17 MiB / s. After four attempts it transferred properly at 62.54 MiB / s without stalling at the end. Several other files (of various sizes) transferred properly without such delays at the end.

[2022-02-07 20:57] jumana-s commented on #817
From a notebook server, I tried uploading two 40G files to my own storage account.

Using az storage blob upload took 2 hours:
<img width="1102" alt="Screen Shot 2022-02-07 at 1 43 51 PM" src="https://user-images.githubusercontent.com/51963397/152870496-43cb17a0-56b6-4e56-9f80-ab72e47f3933.png">

Using azcopy took two minutes.
<img width="1099" alt="Screen Shot 2022-02-07 at 3 28 48 PM" src="https

[2022-02-07 21:00] blairdrummond commented on #817
wtf

CC @Collinbrown95

[2022-02-08 13:39] #838 closed

[2022-02-08 13:59] bryanpaget commented on #850
I've looked into the containers by installing and running them on my local computer.

[2022-02-08 13:59] #850 closed

[2022-02-08 16:28] wg102 commented on #847
Idea of splitting work:

- [ ] MVP (Minimal version, in pair programming)
- [ ] EVERYTHING into Go (need to divide up, maybe per folder/file)
- [ ] Kubecost
- [ ] Prob
- [ ] Validation (our customized extra stuff)
- [ ] i18n
- [ ] Checking the whole thing, including missing validation in their refactor

[2022-02-08 17:54] skyeturriff commented on #847
First task will be an MVP which will be the setting up upstream's CWA folder structure in our kubeflow repo, and porting over the necessary setup/infrastructure code from our jupyter-api repo to just be able to access the Notebooks Server page (no additional functionality). This allows us to confirm a good base to continue development on.
Next task will be dividing up the coding of upstream's CWA

[2022-02-08 18:09] wg102 opened #868 "CWA Golang MVP"
This ticket is to create a **Minimal Viable Prototype** (MVP) of CWA Jupyter.

The goal is simply to have the table that displays the notebooks per namespace. And visually the buttons/columns but not with any of the functionality working yet.
This way, we will have a quick introduction to GoLang, be able to estimate better any tasks related to Golang refactoring, and have the basic structure to ru

[2022-02-08 18:57] Jose-Matsuda commented on #847
Regarding the "EVERYTHING into Go (need to divide up, maybe per folder/file)" bullet we do not have a solid idea for how to divide this just yet as we are all inexperienced here.

The most important folder to tackle first is probably going to be the [crud-web-app/common/backend/kubeflow/kubeflow/crud_backend/api](https://github.com/kubeflow/kubeflow/tree/v1.3.0/components/crud-web-apps/common/back

[2022-02-08 19:20] skyeturriff commented on #847
Closing as investigation is complete, with strategy going forward planned out as above. First step is the MVP ticket, which has been created and ready for next sprint. Outline for Go tickets has been established, and will be created during next sprint in time for the following sprint when work can begin after the MVP is in place.

[2022-02-08 19:20] #847 closed

[2022-02-08 20:23] StanHatko opened #869 "BUG: MinIO Discrepancy Between gateway-standard-ro and gateway-standard-tenant"
**Describe the bug**
In the greenhouse-detection namespace, the gateway-standard-ro in a Protected B notebook is not the same as gateway-standard-tenant in an non-protected notebook.

The gateway-standard-ro (on ProB server ) has a bunch of older files which are not updated, while gateway-standard-tenant (on non-ProB server) has a couple of new files only.

**Environment info**
Namespace: greenhou

[2022-02-08 21:32] chuckbelisle opened #870 "BUG: Kubeflow server/notebook readiness errors"
**Describe the bug**
When creating a new notebook using the Kubeflow dashboard, you get redirected to the following pages with errors when clicking the connect button.

![image-not-found](https://user-images.githubusercontent.com/13248342/153078589-4accc64b-2dca-4190-b462-ae75c42cdf55.jpeg)

**Also being seen is a blank page with "No upstream available"**

**Environment info**
Namespace: Any
Noteb

[2022-02-08 21:37] blairdrummond commented on #870
I think @saffaalvi has experience with this in the past. The thing where you mysteriously get redirected is probably because a virtual service didn't exist or didn't get processed by istio in time.

[2022-02-09 02:43] sylus commented on #870
https://github.com/StatCan/jupyter-apis/pull/41

[2022-02-09 14:09] Jose-Matsuda commented on #868
Things to figure out:

- [ ] How to build so it can be tested
- [ ] How to test / verify / the MVP which would include using it as the backend when we are running the frontend (probably already some knowledge for this, but not in the upstream specific folder format)

[2022-02-09 15:05] blairdrummond opened #871 "Create Local environment for MinIO Gateway"
The MinIO gateway has been a pain to deploy and test locally, we should:

- Create a k3d cluster
- Create a terraform module for deploying the Azure resources (or a non-Azure version)
- ArgoCD stuff
- Keycloak (for OIDC testing)
- MinIO Gateway k8s manifests (with Kustomize)

This will make it a lot easier to upgrade and test the MinIO Gateway

CC @saffaalvi

References:

https://github.com/blaird

[2022-02-09 15:46] skyeturriff opened #872 "Create attribute card"
Create the first Kubeflow attribute card for review at the tech elab

[2022-02-09 16:16] skyeturriff opened #873 "CWA crud-web-apps/volumes/backend: translate python backend to go"
Create a feature branch off of https://github.com/StatCan/kubeflow/tree/branch-cwa-golang

Implement a Go backend that follows this strucure https://github.com/StatCan/kubeflow/tree/branch-cwa-golang in a new directory components/crud-web-apps/volumes/backend-go

[2022-02-09 16:38] Jose-Matsuda commented on #868
Observations (this comment will be updated as more become clear, or if something is unclear or unhelpful will delete areas):
From Home, bring up the dev tools and hit "Notebooks" the resulting calls are seen in the picture below
![image](https://user-images.githubusercontent.com/23174198/153246197-6b93ced0-1d28-428d-a080-fd55338cb5f7.png)

### Notebooks
`Request URL: https://kubeflow.aaw-dev.cloud

[2022-02-09 17:29] jumana-s opened #874 "update the FDI MinIO instances"
- [ ] Update the storage accounts of the FDI MinIO instances on dev and prod.
- [ ] Add a protected-b MinIO instance on dev.

[2022-02-09 20:44] skyeturriff commented on #872
Draft of card:

#  Kubeflow

## Description
The Kubeflow project is dedicated to making deployments of machine learning (ML) workflows on Kubernetes simple, portable and scalable. It provides a straightforward way to deploy best-of-breed open-source systems for ML.  (Ref: https://www.kubeflow.org/)

## Documentation
https://www.kubeflow.org/docs/

## Community Support
Official Kubeflow has a suppo

[2022-02-10 21:12] vexingly commented on #844
Uptime (module in Kibana that displays the data) requires a _heartbeat_ module to be installed, only a single heartbeat agent is necessary (unless there are different network zones that a single agent would not be able to reach).

https://github.com/elastic/beats/tree/main/deploy/kubernetes/heartbeat

[2022-02-11 15:16] wg102 commented on #868
Idea for the structure of the files.
Following our investigation, we find that the structure of the upstream file is more complicated then needs be, especially in the common folder. To avoid said complexity, we are looking into a leaner version of folders that would be a hybrid between the clean code in our current jupyter-apis repo, and the upstream division.
The idea would be to have 3 or 4 fold

[2022-02-11 19:12] #840 closed

[2022-02-14 14:44] Jose-Matsuda commented on #868
A good link to keep around is https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md as this should illuminate what types of objects the code expects, especially if we choose to not implement the api calls right away and spoof it.

Example)
In the route for [listnotebooks](https://github.com/kubeflow/kubeflow/blob/8901e3af3b83f599b89562162cdb2854f57082d3/components/crud-web-a

[2022-02-14 19:59] skyeturriff commented on #868
# Choosing the web framework

There are a bunch of frameworks out there that could meet our needs, some more lightweight libraries and other full-fledged frameworks. Depending on our use cases, and whether we'd prefer to work with something minimal with basic routing capabilities, or are looking for more functionality in terms of middleware functions like logging, error handling, etc.

## gin

- M

[2022-02-14 21:32] brendangadd opened #875 "[Epic] Multi-tenant source control"
As a user, I want to have easy access to Git source control management so that I can practice GitOps in my team even when working with sensitive data.

Broad strokes:
1. Multi-tenant Gitea (instance per namespace)
2. Look into PostgreSQL backend – probably a shared managed DB instance with a logical database per Gitea instance
3. Kubernetes controller (profile) for automated deployment
  * Kuberne

[2022-02-15 02:07] blairdrummond commented on #875
Plain postgres auth will probably be ok (instead of spiffe)! We might want the controller to create postgres secrets and possibly rotate those secrets on occasion (fixed interval).

[2022-02-15 14:36] traizenne opened #877 "FDI - ms sql servers"
I would like to have a ms sql server provisioned in both aaw-dev and aaw for our dotstatsuite SDMX Services.
Currently they are using a sql server provisioned in the dev subscription but i don't think that is the correct way.

aaw-dev sql server name:  dotstatsuite_aawdev

aaw sql server name:  dotstatsuite_aaw

[2022-02-16 15:13] skyeturriff commented on #831
Find the commits relating to the following customizations, and list them under the related feature

## Front end customizations:
- [ ] gpu selecting validation
- [ ] max cpu
- [ ] loading messages when error
- [ ] notebook without a value "Erreur in backend"
- [ ] image help text
- [ ] A few other validation messages
- [ ] Kubecost
- [ ] Advance settings (with KF_LANG)
- [ ] Volumes customization

[2022-02-16 18:11] chuckbelisle commented on #852
@blairdrummond could you please add a quick description of what we require the Cloud Native to do with the gh service account in order to restore both portal namespace creation request feature.

[2022-02-16 19:14] saffaalvi commented on #831
## Frontend changes (commits)

### 2020

Aug 11
- [feat(frontend): Add jupyter frontend](https://github.com/StatCan/jupyter-apis/commit/16bd974511f74495f6e24f91c2ab2caf7a2434a6)
- [chore(license): Add frontend license](https://github.com/StatCan/jupyter-apis/commit/f09fe91419f4564bd8a96658802670d78590e245)

Aug 19/20
- [Merge pull request #5 from StatCan/try-npm-fix](https://github.com/StatCan/jup

[2022-02-16 19:45] traizenne commented on #877
@sylus I'm trying to deploy now with a containerized ms sql server but will need a stable ms sql server soon.  Thanks

[2022-02-17 13:51] chuckbelisle commented on #680
New limits were introduced by MS and have since improved greatly our network policy generation on server creation

[2022-02-17 13:51] #680 closed

[2022-02-17 13:56] chuckbelisle commented on #241
This work will be re-done in #839 - New cluster, new oidc integration

[2022-02-17 13:56] #241 closed

[2022-02-17 14:47] #872 closed

[2022-02-17 15:24] #794 closed

[2022-02-17 18:05] brendangadd opened #878 "Open source Terraform for base platform"
## Tasks

- [x] Perform sanitization if needed
- [x] Set-up Mirroring
- [ ] Tag all of the modules now pointing to GitHub
- [ ] Test the CI / CD pipeline is still functional
- [ ] Push the remaining 2-3 dummy modules as a guide

| Component | Repository

[2022-02-17 18:15] zachomedia opened #879 "Switch go applications/controllers from loading APIs from kubeflow-controller repo to kubeflow-apis"
I have extracted/updated the APIs from github.com/StatCan/kubeflow-contorller into github.com/StatCan/kubeflow-apis. All of our controllers that pull those APIs out of kubeflow-controller need to be updated to use kubeflow-apis.

[2022-02-17 18:38] wg102 commented on #831
REmoving this from the stprint and until working with 1.4... see the issue mentionned above for details.

[2022-02-17 18:40] wg102 commented on #868
Removing this from the sprint. See issue above. any work for 1.3 will be done in [this epic](https://github.com/StatCan/jupyter-apis/issues/68)

[2022-02-17 20:00] #219 closed

[2022-02-19 19:21] blairdrummond commented on #853
@chritter Can you test this? I think I've upped your quota to 8Ti

[2022-02-19 19:24] blairdrummond commented on #854
Was this resolved?

[2022-02-19 19:24] blairdrummond commented on #834
Was this resolved?

[2022-02-19 19:24] blairdrummond commented on #819
Done!

[2022-02-19 19:24] #819 closed

[2022-02-19 19:25] blairdrummond commented on #801
@bryanpaget  Can you take a look when you get the chance?

[2022-02-19 19:26] blairdrummond commented on #800
Closing in favor of https://github.com/StatCan/aaw-argocd-manifests/issues/52

[2022-02-19 19:26] #800 closed

[2022-02-19 19:26] blairdrummond commented on #798
@chritter Can you update this issue with the current state?

[2022-02-19 19:27] blairdrummond commented on #782
Was this resolved?

[2022-02-19 19:29] #714 closed

[2022-02-19 19:29] blairdrummond commented on #708
I think we have this ironed out now

[2022-02-19 19:29] #708 closed

[2022-02-19 19:31] #696 closed

[2022-02-19 19:31] #689 closed

[2022-02-19 19:33] blairdrummond commented on #684
This is underway, just need to talk to @PaulMcGlincheyCA  to see if the token works now

[2022-02-19 19:33] blairdrummond commented on #682
This was actually just a matter of network policies and networking issues in the seldon init container

[2022-02-19 19:33] #682 closed

[2022-02-19 19:34] blairdrummond commented on #647
@Jose-Matsuda @bryanpaget is this still an issue? We should fix that.

[2022-02-19 19:36] blairdrummond commented on #580
Closing in favour of other epics and issues

[2022-02-19 19:36] #580 closed

[2022-02-19 19:36] #579 closed

[2022-02-19 19:37] blairdrummond commented on #528
CC @bryanpaget

[2022-02-19 19:37] #501 closed

[2022-02-19 19:38] blairdrummond commented on #482
We've learned a lot since April 2021, this was probably an istio, network policy, or DNS issue. Re-open if you're still blocked @chritter

[2022-02-19 19:38] #482 closed

[2022-02-19 19:40] #365 closed

[2022-02-19 19:40] blairdrummond commented on #357
The EFT Team handles this, I don't think that will change any time soon

[2022-02-19 19:40] #357 closed

[2022-02-19 19:43] blairdrummond commented on #647
This seems to work

[2022-02-19 19:43] #647 closed

[2022-02-19 19:43] #314 closed

[2022-02-19 19:44] #307 closed

[2022-02-19 19:44] #293 closed

[2022-02-19 19:46] blairdrummond commented on #281
I think this is no longer on CN's plate, so closing in favor of newer issues

[2022-02-19 19:46] #281 closed

[2022-02-19 19:48] #147 closed

[2022-02-19 19:55] blairdrummond commented on #218
I think this should be done via project namespaces

[2022-02-19 19:55] #218 closed

[2022-02-19 19:57] blairdrummond commented on #216
I think it's better to do this via multiple namespaces.

[2022-02-19 19:57] #216 closed

[2022-02-19 20:04] blairdrummond opened #880 "Delete old `minio-legacy{"",-premium}-system` namespaces"
The namespaces are no longer in use but have lingering resources

[2022-02-19 20:04] blairdrummond commented on #880
CC @sylus

[2022-02-20 02:33] sfade070 commented on #834
yes

[2022-02-20 02:33] #834 closed

[2022-02-22 14:04] menmarc opened #881 "Create private external URL"
Please create a private external URL (https) for both DEV and PROD environment

[2022-02-22 16:25] traizenne opened #882 "FDI - ArgoCD and Namespace in aaw.cloud.statcan.ca"
I would like to have argocd and and FDI namespace set up in aaw.
We have those setup in aaw-dev but need it setup in aaw to deploy our services in a prod environment.

[2022-02-22 19:54] #853 closed

[2022-02-22 20:55] rohank07 commented on #740
Will discovered in the VNC logs ($HOME/.vnc) the working directory "/home/jovyan/[Invalid UTF-8]" does not exist.

[2022-02-23 03:57] sylus commented on #877
@traizenne def dont run a containerized version since best practice is managed db.

Also believe we solving this over at JIRA so going to close this ticket out ^_^

[2022-02-23 03:57] #877 closed

[2022-02-23 04:01] sylus commented on #142
This is solved and confirmed working in AAW Dev as of KF 1.3

[2022-02-23 04:01] #142 closed

[2022-02-23 04:02] #64 closed

[2022-02-23 04:03] #144 closed

[2022-02-23 13:44] sylus opened #883 "feat(istio): Upgrade Istio in AAW Dev"
**Is your feature request related to a problem? Please link issue ticket.**
Link to existing project ticket that contains a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alt

[2022-02-23 14:54] chuckbelisle opened #884 "ES/Kibana & Grafana/Prometheus Infrastructure evaluation"
Epic: #839
Related to : #844 & #845
Can we use the existing instances?

If not:
1. Where do they live
2. What version
3. Network flows
4. Terraform modules
5. Repos to be used

[2022-02-23 14:58] chuckbelisle commented on #884
https://github.com/StatCan/daaas/issues/844#issuecomment-1048084177

[2022-02-23 16:36] brendangadd opened #885 "Allow intra-namespace connectivity to Seldon models"
Also to look into general refactoring and simplification of network policies.

[2022-02-23 16:42] chuckbelisle commented on #884
Back story
Met with Cloud Native (Tuesday Feb 15th) and it was determined that we needed to apply a couple upgrades to the clusters in order to deploy our own ECK stack for application log aggregation.
The comment above is from Pat during his investigation of using the latest version of ES and modifying the terraform module for deployment.

[2022-02-23 18:34] cboin1996 commented on #875
# Local Development (1 day)
- [ ] Deploy Gitea locally in k3d (deployment, service, configmaps, using SQlite)
- [ ] Modify the deployment to use a local postgres instance
# Profile Controller SQlite Deployment (2 day)
- [ ] Configure a new kubeflow profiles controller to create the above resources
# Create Managed DB (5 day)
- [ ] Provision the unclassified Terraform postgres module,
# Automate In

[2022-02-23 18:53] cboin1996 opened #886 "feat(gitea): setup local environment"
Issue corresponding to [EPIC] [here](https://github.com/StatCan/daaas/issues/875).

Deploy Gitea locally in k3d.
Setup:
  - Deployment
  - service
  - configmaps
  - choose whether to use SQlite or Postgres for this stage
  - If SQlite is chosen to start with, modify to use Postgres.

[2022-02-23 18:57] cboin1996 opened #887 "feat(profile-controller): Configure a kubeflow profile controller"
Refers to [EPIC] [here](https://github.com/StatCan/daaas/issues/875).

Configure a new profiles controller to create the resources from issue [here](https://github.com/StatCan/daaas/issues/886).

Profile controller will be created within the [aaw-kubeflow-profile-controller](https://github.com/StatCan/aaw-kubeflow-profiles-controller).

**NOTE: MVP just creates an nginx deployment in namespaces ma

[2022-02-23 19:00] cboin1996 opened #888 "feat(postgres-terraform): Create Managed DB"
Refer to [EPIC] [here](https://github.com/StatCan/daaas/issues/875).

Provision the unclassified Terraform Postgres module.

[2022-02-23 19:07] cboin1996 opened #889 "feat(profile-controller): Automate Interaction with Database"
Refer to [EPIC] [here](https://github.com/StatCan/daaas/issues/875).

Modify the controller created from issue [here](https://github.com/StatCan/daaas/issues/887) to auto-configure the postgres instance with a database and k8s secret per namespace.

[2022-02-23 19:11] cboin1996 opened #890 "feat(gitea): protected-b setup part 1"
Refer to [EPIC] [here](https://github.com/StatCan/daaas/issues/875).

## Protected-B work Part 1
- [x] Likely will need to change service names within the gitea controller with an additional configmap or equivalent just like the above process to ensure any conflicting variables are provisioned in terraform separately - https://github.com/StatCan/aaw-kubeflow-profiles-controller/pull/46
  - [x] Ser

[2022-02-23 20:24] sylus commented on #740
This looks like the issue and we are testing it now:

https://github.com/novnc/noVNC/issues/658

[2022-02-23 20:52] sylus commented on #740
It doesn't seem that fix is enough but we see some better handling of web sockets in 1.3.0 so bumping to that to see:

https://github.com/StatCan/aaw-kubeflow-containers/commit/822ee052e8e7c2264bfdf6a7ba6fe26d4a7a1e27

[2022-02-24 05:19] sylus commented on #740
So its looking like might have found a few things but currently in my dev image I don't seem to be having any disconnects an hour in now. So looking promising.

[2022-02-24 14:27] sylus commented on #740
Currently has been up and running for 10 hours without issue at the moment.

[2022-02-24 14:30] rohank07 commented on #740
@sylus Thank you for your help!

[2022-02-24 15:07] blairdrummond commented on #882
Yes I can do that

[2022-02-24 16:09] sylus commented on #740
This looks fixed now me and @zachomedia both tested it.

You will need to fix your other failing containers before we can update all of the SHAs

Closing this issue out!

[2022-02-24 17:11] OmarYoussouf opened #891 "Help with creating a namespace for Solar Panel identification project"
Hi,

I need help setting up a namespace in MinIO for an upcoming AgZero project.

A PhD student from the Institut National de Recherche Scientifique will be sharing his project with members of Statistics Canada so that we can further develop his methodology to benefit canadians and policy makers. This project will potentially allow us to identify solar panels and produce national estimates.

We ne

[2022-02-24 18:33] jumana-s commented on #891
Can you provide the cloud account of the proposed namespace owner as well as a namespace name?

[2022-02-24 18:52] OmarYoussouf commented on #891
Hi,

Name of namespace: AgZero- Solar Panel

Cloud email of namespace owner:
omar.youssouf@cloud.statcan.ca

Thanks,
Omar

[2022-02-25 17:07] #885 closed

[2022-02-25 17:26] rohank07 commented on #740
Patch: https://gist.githubusercontent.com/sylus/cb01e59056780a2161186139b25818fb/raw/99ebd62a304c661d5612ad72ebc318f70d02741c/feat-notebook-Patch-noVNC-for-notebooks.patch
 https://github.com/StatCan/aaw-kubeflow-containers/commit/16b01881cc9b7c3409a5fe8443279a2c166bff0e

[2022-02-28 13:53] mathis-marcotte commented on #881
Where can I find this new URL? @menmarc gave me a new URL to test for DEV last Thursday and that one works, but I just want to confirm that is is the correct one mentioned here.

[2022-02-28 15:08] sylus commented on #875
Out of curiousity can I get some further information on this? @blairdrummond

a) This won't take away resources from KF 1.3 and notebook culling which really needs to happen to Prod soon?
b) What was the point of gitlab protected b and just using RBAC there for isolation is it not strict enough?
c) Will gitlab be removed in favor of this design?
d) Not every namespace will be given this correct as

[2022-02-28 15:41] traizenne opened #892 "FDI: Health check in progressing state"
https://org-fdi-system-argocd.aaw-dev.cloud.statcan.ca/applications/fdi-dotstatsuite

@blairdrummond  Can you take a look at this app?

Thanks

[2022-02-28 19:20] blairdrummond commented on #892
I think your helm chart has the wrong hostnames

![Screenshot from 2022-02-28 14-19-27](https://user-images.githubusercontent.com/10801138/156045079-5b629ba3-1d60-4a71-8234-676956daabe9.png)

[2022-02-28 19:39] traizenne commented on #892
is it a policy to prefix with the namespace?  I really don't like the namepsace format "org-fdi-system"

[2022-02-28 19:48] blairdrummond commented on #892
I meant that you're using `aaw-dev`, not `aaw`

[2022-02-28 19:50] blairdrummond commented on #874
Is this still underway?

[2022-03-01 13:19] menmarc commented on #881
@mathis-marcotte the URL is https://org-ces-system-vetting-elastic.aaw-dev.cloud.statcan.ca. If it's what we have in DEV and it's working then we can close this issue.

[2022-03-01 13:24] dajadam commented on #881
Please don't close this ticket until the Prod has been set up as well! For now, just confirm if the url is working in Dev.

[2022-03-01 13:24] menmarc commented on #881
@dajadam understood

[2022-03-01 13:31] menmarc commented on #881
@blairdrummond it is working in DEV. please proceed for Prod.

[2022-03-01 15:17] menmarc commented on #881
@blairdrummond when I think about it, can we keep our public URL in dev ? that would allow us to test elastic search from our workstation. Does it make sense? Thanks!

[2022-03-01 17:34] YannCoderre opened #893 "BUG: Python environment Broken"
(From an email from Christopher Cottin - March 1, 2022)

Have some related issue(s) that require some AAW technical assistance. (Python expertise).

Baillargeon, Jonathan - ESMD/DMSE [jonathan.baillargeon@statcan.gc.ca](mailto:jonathan.baillargeon@statcan.gc.ca) is having issue with AAW Python environment, we reached out in SLACK and made some progress, but this environment is still broken. (at le

[2022-03-01 18:48] YannCoderre commented on #893
It is important to note that Jonathan was able to run and execute his code without any errors before. On January 31, 2022, Jonathan stated that his code does not work anymore.

User is getting this message when running his Python code:
"Solving environment: failed with initial frozen solve. Retrying with flexible solve."

(more information to come)

Jonathon is also installing the following packag

[2022-03-01 19:19] Jose-Matsuda commented on #893
Trying to install that gives me an error I've never seen before
[code]

[2022-03-01 19:25] blairdrummond commented on #893
Try installing with Conda

![Screenshot from 2022-03-01 14-25-01](https://user-images.githubusercontent.com/10801138/156235038-2858d1db-bb7d-45c4-8d4e-3c23167adc3f.png)

[2022-03-01 19:26] blairdrummond commented on #893
@chuckbelisle  It might be worth having the bot suggest using conda instead of pip

[2022-03-01 19:41] YannCoderre commented on #893
The client issue has been resolved

[2022-03-01 19:48] YannCoderre commented on #893
It seems that there might be a few issues:

Jonathan restarted a new notebook server :  image: Jupiterlal-CPU, 1 cpu, 4.0Gi
Jonathan connected to server
He install through conda the following pkg: conda install --channel conda-forge pyscipopt
We noticed that the new server installed had the newer packages
Client was able to run his code.

Please note: Prior to this, Jonathan was running that were

[2022-03-01 19:48] #893 closed

[2022-03-01 20:13] StanHatko commented on #809
Refreshing, logging out and back in did not fix the problem, it remained. Fortunately there's a backup option I have to work around this bug.

[2022-03-02 19:31] dajadam commented on #881
@blairdrummond Could you please proceed with implementation in Prod?

cc: @brendangadd

[2022-03-02 21:44] brendangadd opened #894 "Financial data harvester setup"
relates to [#1160](https://github.com/StatCan/daaas/issues/1160)

This is for the creation of a component to harvest AAW financial data for incorporation into the DAaaS metrics for use in chargeback etc. I'll break it down the AAW vs. the component owner in terms of responsibilities.

### AAW Responsibilities
* **Ensure access to "org-" namespace and ArgoCD**
* **Create initial deployment**
  Basi

[2022-03-03 15:16] YannCoderre opened #895 "ONBOARDING: Optimus"
This ticket is related to Project Optimus

Contact is Kate Burnett-Isaccs

JIRA ticket: https://jirab.statcan.ca/browse/DACSU-1218

[2022-03-03 15:24] YannCoderre commented on #895
Meeting notes from March 2, 2022:

Kate needs more information concerning the services between AVD and DAaaS. Kate is under the impression that the upcoming deployment (November 24, 2022) of the Statcan AVD will suffice most of the users (analyst).

We did inform Kate of the differences between AAW and AVD

- External user(s) access
- Pipelines
- Pre-defined notebooks (with all the software / lang

[2022-03-03 16:37] chritter opened #896 "ElasticSearch/Kibana Connection Error"
**Describe the bug**
When performing search with the Kibana Exploration dashboard a connection error pops up from time to time.

**Environment info**
Namespace: N/A
Notebook/server: N/A

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Kibana, select  namespace `newsdata`,
3. Select index `newsdata`
4. Search for terms to see the connection error. Does not always appear!

**Expected beha

[2022-03-03 18:02] bryanpaget commented on #895
# Meeting with Kate

I met with Kate today and we discussed what would be useful to see in an AAW demonstration on March 11 @ 10AM (or March 24 @ 10AM).

## Background

- It wasn't until 2017 that R and Python saw widespread adoption within Statistics Canada.
- Until very recently, R and Python were just used in research and development.
- Most analysts using R and Python have been doing so on Net

[2022-03-03 18:24] blairdrummond opened #897 "Modify the deployment to use a local postgres instance"

[2022-03-03 18:27] blairdrummond opened #898 "Flush out profile controller to fully configure gitea"

[2022-03-03 18:30] blairdrummond commented on #886
@cboin1996 I moved the Auth stuff to a separate issue, so you can close this once you think this is done!

[2022-03-03 19:29] #886 closed

[2022-03-03 21:15] nick-newstead opened #899 "[HELP] Scaling up Valhalla routing engine container"
My team, DEIL, has deployed the Valhalla routing engine ([see here](https://github.com/StatCan/daaas/issues/757)); however, we are trying to scale up this process in order to calculate ~1.5 billion pairs of distances and run into issues deploying pods with high-enough specs (e.g., no nodes are available.). The current specs of the pod are CPU: 6 and Memory 16Gi which are not sufficient for our cur

[2022-03-03 21:38] brendangadd commented on #899
Haven't looked at the deployment, but initial thoughts are that this could be done with a StatefulSet along with higher requests/limits.

/cc @blairdrummond

[2022-03-03 21:44] blairdrummond commented on #899
@brendangadd  they're probably hitting a node-pool cap

[2022-03-04 14:53] blairdrummond opened #900 "SAS support design proposal"
# Background

SAS is being rolled out to internal users, but not to external users. Therefore we need to differentiate between namespaces that have internal vs external users. A proposed design uses:

- A Controller to configure Profile metadata with `"internal"`, `"external"`, `"non-compliant"`, or `nil (unspecified)` state on a `users.statcan.gc.ca/type`.
- A CronJob will alert of `non-compliant

[2022-03-04 19:40] brendangadd commented on #900
I have some thoughts/suggestions on how we could break up the concepts built into `{internal, external, non-compliant}` and maybe take a general approach that could be reused across other things we're looking to achieve.

### State labels

System-managed labels indicating resource state. Allows other components to make decisions based on resource state without having to apply, or be aware of, the

[2022-03-04 21:39] blairdrummond commented on #900
Oh I get it, so basically break down the controller into two, and the controller only modifies the `state.aaw.statcan.gc.ca/*` labels.

**RoleBinding Controller:**
[code]

**Features Controller: (atm only notebooks)**
[code]

And then the gatekeeper policies use both the `state.aaw.statcan.gc.ca/*`  and the `feature.aaw.statcan.gc.ca/*` labels.

[code]

The CronJob should still exist and be

[code

[2022-03-07 17:33] cboin1996 commented on #887
See pull request [here](https://github.com/StatCan/aaw-kubeflow-profiles-controller/pull/27) for work associated with this ticket.

[2022-03-07 17:33] #887 closed

[2022-03-07 19:02] blairdrummond opened #901 "Testing: Kenneth Tries out SAS"
# How did you find it?

# What problems did you run into?

# How did your experience compare to your experience on NetA?

# Could you see this replacing things you did on the SAS Grid? (if applicable)

[2022-03-07 19:02] blairdrummond commented on #901
CC @bryanpaget

[2022-03-07 19:04] blairdrummond opened #902 "Testing: Marie-Pier Tries out SAS"
# How did you find it?

# What problems did you run into?

# How did your experience compare to your experience on NetA?

# Could you see this replacing things you did on the SAS Grid? (if applicable)

[2022-03-07 19:04] blairdrummond commented on #902
CC @bryanpaget @sylus

[2022-03-07 19:09] blairdrummond opened #903 "Testing: Kevin Tries out SAS"
# How did you find it?

# What problems did you run into?

# How did your experience compare to your experience on NetA?

# Could you see this replacing things you did on the SAS Grid? (if applicable)

[2022-03-07 19:09] blairdrummond commented on #903
CC @bryanpaget @sylus

[2022-03-07 19:18] blairdrummond opened #904 "Testing: Eric Tries out SAS"
# How did you find it?

# What problems did you run into?

# How did your experience compare to your experience on NetA?

# Could you see this replacing things you did on the SAS Grid? (if applicable)

[2022-03-07 20:01] JosephKuchar opened #905 "BUG: The deil-lode namespace having issues with cpu allocation"
This issue created at the request of Chuck, but an interim solution has already been implemented!

Briefly, we had a server hanging and unavailable today (odhf-processing). Using `kubectl describe statefulset odhf-processing`, we get the following output:
Warning FailedCreate 51s (x19 over 23m) statefulset-controller create Pod odhf-processing-0 in StatefulSet odhf-processing failed error: pods "o

[2022-03-07 20:40] blairdrummond opened #906 "Boathouse re-assessment"
Investigate if Boathouse can mount the Azure blob storage directly, instead of MinIO.

[2022-03-08 14:56] chuckbelisle commented on #905
Set namespace cpu limit to 90 (original 70)

[2022-03-08 14:56] #905 closed

[2022-03-08 15:25] kennethchu-statcan commented on #901
*   I was able to launch a SAS Studio notebook with no problems.
*   The environment is familiar. I tried and succeeded in opening and examining a built-in data set.
*   I tried to see where I could save results (apart from the default WORK SAS library -- "library" just means a folder for SAS data files). But there, it wasn't clear whether there is a user data folder. I looked at both "Folder Shor

[2022-03-08 15:32] jodiqiao opened #907 "BUG: AAW MinIO - "The access key ID you provided does not exist in our records” downloading from shared link"
**Describe the bug**
I have been getting an error message in a red alert “The access key ID you provided does not exist in our records” while trying to download from a shared MinIO storage link.

**Environment info**
AAW logged in via cloud credentials, accessed link using openID.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into AAW using cloud credentials
2. Open shared storage link

[2022-03-08 16:10] nick-newstead commented on #899
@brendangadd and @blairdrummond, thanks for your attention to this matter. Are there any updates on this? We have some deadlines fast approaching and need to find a solution as soon as possible.

[2022-03-08 16:22] chuckbelisle commented on #740
@brendangadd, @sylus and @rohank07 this is a high priority bug for AAW.

[2022-03-08 16:50] chuckbelisle commented on #884
Investigation completed and new ECK namespace deployed in DEV cluster

[2022-03-08 17:32] chuckbelisle opened #908 "Kibana PROD mvp tasks"
Epic: #839
Depends on: #844
Deploy and configure Kibana in prod

## tasks
- [ ] Create NS using tf
- [ ] Deploy app in ArgoCD
- [ ] Setup local groups and users (dev team only) (no SSO for ES at this time)
- [ ] Deploy admin/dev dashboards

Prod URL: https://daaas-system-kibana.aaw.cloud.statcan.ca/

[2022-03-08 18:42] abbottkr commented on #903
Note that I only tested the functionality of saspy (details of saspy in subsequent comment). I did not test sas studio (except to confirm that I could log in) and I've never used sas grid. Note that I only tested using sample datafiles within the notebook server, and minio may present different issue for saspy

**How did you find it?**: Overall, it was very promising wrt using saspy. Details in an

[2022-03-08 19:15] abbottkr commented on #903
saspy is a python package that allows you to create a connection between a python session and a sas session. Data can be moved back and forth from pandas dataframes in the python session to tables in the sas session. SAS commands can be sent from the python session to the sas session. This can be done by using specific package methods for specific sas commands or by sending a string containing val

[2022-03-08 19:55] Quang-Vinh commented on #809
@StanHatko I'm having the same issue, just wondering what the backup option that you have is?

[2022-03-08 20:03] cboin1996 commented on #886
Can find gitea helm chart [here](https://gitea.com/gitea/helm-chart)!

[2022-03-08 20:13] rohank07 commented on #740
Confirmed with Krishna and Reginald. They are not getting disconnection issues. Had them pull the latest image for remote-desktop:16b01881

[2022-03-08 20:13] #740 closed

[2022-03-08 20:32] #871 closed

[2022-03-08 21:49] blairdrummond commented on #881
@zachomedia I have the virtualservice and DNS ready, the ingressgateway service and pods are there, but no gateway object. Ideas?

[2022-03-08 22:13] asolis opened #909 "BUG: Kubeflow Error adding contributors to namespace"
**Describe the bug**
I have a problem with adding contributors to a namespace. I would like to add the user: [simardeep.singh@cloud.statcan.ca](mailto:simardeep.singh@cloud.statcan.ca) to the namespaces aaw-sedar, and aaw-pssd. I'm listed as owner of both. If I try to add them I receive this error message: "An error occured while trying to add the email. Please make check the email format and make

[2022-03-09 14:33] wg102 opened #910 "[Epic] Proposed Enhancements for UI"
This ticket is going to be used to write down the enhancements to UI wanted on the different components.
These enhancements will, eventually, be done. When we want to do one, a ticket for that particular item will be created in the appropriate repository.

- [x] #1085
- [ ] JWA: Color on the bound/unbound volume table in Jupyter Web Apps
- [x] JWA: Add a label to see prob B vs unclassified volumes

[2022-03-09 14:40] blairdrummond commented on #875
@brendangadd @chritter I am realizing, this shared postgres + namespaced deployment setup, would enable MLFlow very very quickly. You could basically copy-paste the deployment for MLFlow.

[2022-03-09 14:52] chuckbelisle opened #911 "Create new admin group for Dev cluster"
We require a new group to be created so our developers can have elevated permissions on the cluster.

Required: exec into system containers and pods for troubleshooting

[2022-03-09 14:58] brendangadd opened #912 "[Epic] Trino data gateway"
* [ ] Add to source control
* [ ] Deploy with ArgoCD
* [ ] Add `X-Forwarded-Proto: https` header via `EnvoyFilter`
* [ ] Secure Hive
* [ ] Allow `kube-apiserver` access via namespace controller
* [ ] Add Trino CLI to workspace container images
* [ ] Auto-authenticate Trino CLI
* [ ] Use Trino DBAPI client without HTTPS
* [ ] Define RBAC administration process
* [ ] Document example usage with all

[2022-03-09 15:08] JosephKuchar opened #913 "BUG: server not shutting down"
Hi,
I attempted to delete a server in my namespace last week, and it's still hanging. I can neither delete it nor connect to it, but it's in my namespace on kubeflow.

**Environment info**
Namespace: joseph-kuchar
Notebook/server: on-off-reserve

The output of a describe command is:
[code]

[2022-03-09 15:17] chuckbelisle commented on #844
@vexingly could you confirm if we have now been able to deploy the eck stack in dev via argoCD?

[2022-03-09 15:34] #465 closed

[2022-03-09 15:40] chuckbelisle opened #914 "Network monitoring"
Related to #839
Depends on #845 & #908

In order to better get a hold of our solution, we require the testing and implementation of Jaeger network tracing solution on our clusters.
https://www.jaegertracing.io/

## Tasks
- [ ]
- [ ]

[2022-03-09 15:42] chuckbelisle opened #915 "Jaeger - Design and product eval"
Epic: #914

Need to confirm that Jaeger is the right solution for our platform and elaborate what needs to happen to implement

Provider: https://www.jaegertracing.io/

[2022-03-09 15:59] chuckbelisle opened #916 "Jaeger - MVP implementation"
Epic: #914
Depends on: #915

This ticket will require elaboration once #915 is ongoing

[2022-03-09 16:13] jumana-s opened #917 "Rollout MinIO Console to dev"
rollout the new minio console to dev:

- [x] add client secret in gitlab for oidc
- [x] update the aaw-argocd-manifests
- [x] decide if we need etcd

[2022-03-09 16:15] brendangadd opened #918 "[Epic] SAS Support"
* [x] StatCan/aaw-kubeflow-containers#330
* [x] Implement Gatekeeper Policies
  * Use `employee-only` feature & state label to block external users #922
  * Use `state.aaw.statcan.gc.ca/non-employee-users` to block SAS Notebooks https://github.com/StatCan/daaas/issues/950
* [x] Create Controllers e.g. `state.statcan.gc.ca/has-employee-only-features`
  * Look for SAS images, set `employee-only-feat

[2022-03-09 16:18] chuckbelisle opened #919 "[Epic] Monitoring Alerts"
Related epics: #839 and #914
Depends on: #914

- [x] Eval logs and metrics re require alerting
- [x] Create escalation plan
- [x] Define metric mvp
- [x] Define app log mvp
- [x] Create/Mod specific app repo
- [x] Implement in Dev
- [x] Testing
- [x] Implement in Prod

[2022-03-09 16:18] jumana-s opened #920 "Rollout MinIO Console to prod"
- [x] add client secret in gitlab for oidc
- [x] add redirect URIs to app registration
- [x] update minio terraform to use oidc client secret
- [x] after #917 is completed, merge commits into prod branch on aaw-argocd-manifests

[2022-03-09 16:23] rohank07 opened #921 "Patch existing remote-desktop notebooks"
Patch remote-desktop notebooks images with updated SHA `16b01881`
Create script to patch all existing remote-desktop notebooks in prod cluster

- ` kubectl patch Notebook notebookName --type='json' -p='[{"op": "replace", "path": "/spec/template/spec/containers/0/image", "value":"NEWIMAGE"}]' --namespace ...`

[2022-03-09 16:28] chuckbelisle commented on #841
A decision was made to not reuse the current implementations of Grafana and we are make adjustments to Prometheus

[2022-03-09 16:28] #841 closed

[2022-03-09 16:29] #842 closed

[2022-03-09 16:32] saffaalvi opened #922 "SAS Support: Gatekeeper Policies for denying external users"
Use `employee-only` feature label/annotation (check with CNS for best practice)

Create Gatekeeper policy to check for labels `employee-only-features` and `employee-true`.
Also check for internal and external employees using user emails and domains so that the policies should only apply to external employees.

[2022-03-09 16:42] blairdrummond commented on #918
Design proposal originated here

https://github.com/StatCan/daaas/issues/900

[2022-03-09 16:47] Jose-Matsuda opened #923 "Notebook Security Scanning: Runtime Scanning 2: Electric Boogaloo"
EPIC https://github.com/StatCan/daaas/issues/461

## Deliverable
Have the image running as a cronjob on dev.

This now relies on us getting Artifactory to proxy ACR successfully, of which I don't have the know-how or expertise on how to solve it (probably don't have permissions either)

-------------------------------------------

A lot of groundwork has been done in the public repository of [mine

[2022-03-09 17:09] brendangadd opened #924 "Add Trino component to source control"

[2022-03-09 17:10] brendangadd opened #925 "Deploy Trino with ArgoCD"

[2022-03-09 17:17] brendangadd opened #926 "Add `X-Forwarded-Proto: https` header via `EnvoyFilter`"
Trino won't support authentication unless TLS is configured. However, it allows (and recommends) [terminating TLS at the load balancer](https://trino.io/docs/current/security/tls.html#use-a-load-balancer-to-terminate-https-tls), so it will trust that the connection was secured if it sees an `X-Forwarded-Proto: https` header.

Istio is automatically encrypting all cluster traffic on the service mes

[2022-03-09 17:27] brendangadd opened #927 "Secure Hive"

[2022-03-09 17:32] brendangadd opened #928 "Allow Trino coordinator access to `kube-apiserver` via namespace controller"
My PoC setup adds an explicit network policy to allow the Trino coordinator to connect to `kube-apiserver` endpoint IP to fetch JWKS info. The actual AAW cluster uses a controller to grant this access, so we need to switch to that.

See https://github.com/StatCan/namespace-controller/blob/main/cmd/network.go#L360-L425

[2022-03-09 17:36] brendangadd opened #929 "Add Trino CLI to workspace container images"
Install the Trino CLI to make it available to all workspace container images. Ideally, it should know where the Trino coordinator is by default (i.e. users don't have to provide the URL). If that latter part is non-trivial, consider tackling it in tandem with #930.

[2022-03-09 17:38] brendangadd opened #930 "Auto-authenticate Trino CLI"
Trino is configured to authenticate via Kubernetes-signed JWT, intended for namespace `default` service accounts. Configure the Trino CLI included in workspaces to automatically pass this token.

Note that we did this sort of thing for `mc` by wrapping it in a Bash script.

[2022-03-09 17:40] chuckbelisle commented on #909
Looking at aaw-sedar and aaw-pssd profiles, the owners are set to "shirin.roshanafshar@cloud.statcan.ca".

This is why you are not able to add new contributors to these project, as the owner is the only one able to do so.

[2022-03-09 17:41] #909 closed

[2022-03-09 19:24] Jose-Matsuda commented on #913
To confirm would you be ok with us deleting it?

[2022-03-09 21:45] blairdrummond commented on #899
@nick-newstead is your issue resolved? I think we bumped up the nodepool.

If you're still having issues, we'll assign someone to support.

[2022-03-09 23:47] brendangadd commented on #104
Closing as stale, and @chritter has Seldon working. :rocket:

[2022-03-09 23:47] #104 closed

[2022-03-09 23:48] brendangadd commented on #105
Closing as stale, and @chritter is successfully using Seldon.

[2022-03-09 23:48] #105 closed

[2022-03-09 23:50] brendangadd commented on #288
Closing as no longer relevant.

[2022-03-09 23:50] #288 closed

[2022-03-09 23:50] brendangadd commented on #591
@blairdrummond Can we close?

[2022-03-09 23:52] brendangadd commented on #771
@zachomedia @blairdrummond This is done, right?

[2022-03-09 23:57] brendangadd commented on #690
Closing as resolved.

[2022-03-09 23:59] brendangadd commented on #780
@YannCoderre Can you verify you have this tracked and close?

[2022-03-10 00:17] brendangadd commented on #364
Closing as was removed from RMI and platform.

[2022-03-10 00:17] #364 closed

[2022-03-10 00:24] brendangadd commented on #492
Closing in favour of #910

[2022-03-10 00:24] #492 closed

[2022-03-10 00:38] brendangadd commented on #796
@YannCoderre Can you verify this has received action and/or is tracked, and close this issue?

[2022-03-10 00:43] blairdrummond commented on #591
Let's wait till Argoflow is fully done. I think I manually fixed but needs to be in CI/CD (just edits to the kubeflow-edit role, if i recall)

[2022-03-10 00:44] blairdrummond commented on #771
On prod I think this is waiting for a protected-b gateway object, I think?

[2022-03-10 00:47] brendangadd commented on #168
@chuckbelisle I think this has become a duplicate of one of your newer issues. Can you move over any relevant info and close or something like that?

[2022-03-10 00:53] brendangadd commented on #282
Closing as job well done. :P

Also just saw Metaflow has a Kubernetes alpha released last month. :astonished:

[2022-03-10 00:53] #282 closed

[2022-03-10 00:54] brendangadd commented on #472
Closing as resolved. Please reopen if that's incorrect.

[2022-03-10 00:54] #472 closed

[2022-03-10 00:55] brendangadd commented on #516
Closing as resolved.

[2022-03-10 00:55] #516 closed

[2022-03-10 01:00] #155 closed

[2022-03-10 01:03] brendangadd commented on #228
With incoming Kubeflow 1.3 features, notebooks will be culled after seven days of inactivity.

[2022-03-10 01:03] #228 closed

[2022-03-10 01:04] brendangadd commented on #146
Closing. This can be covered by #528

[2022-03-10 01:04] #146 closed

[2022-03-10 03:44] brendangadd commented on #854
@Jose-Matsuda Can you take another look at this?

[2022-03-10 03:46] brendangadd commented on #798
Closing as stale. @chritter please reopen if you have an update and this this issue is still relevant.

[2022-03-10 03:48] brendangadd commented on #684
Closing as this is now tracked by #852

[2022-03-10 03:48] #684 closed

[2022-03-10 04:12] brendangadd commented on #750
Closing as stale, and seems like intended behaviour of blocking vulnerable packages.

For posterity, it looks like you can force dependency versions with pip constraints. I think you could use this approach to force security-patched versions of packages. https://stackoverflow.com/a/50922466

[2022-03-10 04:12] #750 closed

[2022-03-10 04:21] brendangadd commented on #900
Would that I had used this issue as the epic. I'll close this and link at the top of the new issue (#918) for reference.

[2022-03-10 04:21] #900 closed

[2022-03-10 04:29] brendangadd commented on #687
Sometimes the delay between displayed and actual readiness is more than ten seconds. During that period, trying to access the notebook shows a "No Healthy Upstream" page.

[2022-03-10 04:32] brendangadd commented on #687
Closing as duplicate of #339

[2022-03-10 04:32] #687 closed

[2022-03-10 04:37] brendangadd commented on #490
Closing as MinIO is no longer a viable product. minio/minio#14331

[2022-03-10 04:37] #490 closed

[2022-03-10 04:39] #529 closed

[2022-03-10 04:43] brendangadd commented on #569
Closing as MinIO is no longer a viable product. minio/minio#14331

[2022-03-10 04:43] #569 closed

[2022-03-10 04:44] #515 closed

[2022-03-10 04:44] #480 closed

[2022-03-10 04:45] brendangadd commented on #542
Closing as MinIO is no longer a viable product. minio/minio#14331

[2022-03-10 04:45] #542 closed

[2022-03-10 05:02] brendangadd commented on #810
Closing as stale. Portal fixes for automated creation are tracked in #852.

[2022-03-10 05:02] #810 closed

[2022-03-10 05:08] brendangadd commented on #758
SU4 will do a cost data harvester to start. We may tag some cluster resources with a use case ID or something in the future. We can open another issue when we get there.

[2022-03-10 05:08] #758 closed

[2022-03-10 05:40] brendangadd commented on #870
Duplicate of #339

[2022-03-10 05:40] #870 closed

[2022-03-10 05:46] brendangadd commented on #636
Closing. @chuckbelisle: Please feel free to delegate. :slightly_smiling_face:

[2022-03-10 05:46] #636 closed

[2022-03-10 05:50] brendangadd commented on #612
Closing: no plans to disable this UI.

[2022-03-10 05:50] #612 closed

[2022-03-10 05:50] #547 closed

[2022-03-10 06:20] brendangadd commented on #35
Closing. Appears to be fixed with Chromium Edge, and we won't invest in supporting IE or Safari.

[2022-03-10 06:20] #35 closed

[2022-03-10 12:57] Jose-Matsuda commented on #854
@KHobbs3 would you be able to confirm if this was fixed?

[2022-03-10 14:14] Jose-Matsuda commented on #923
Artifactory Specific:

Remember that you need to set permissions on the repository. Will likely create a new user explicitly for this (so that other people cannot just pull it willy nilly).
After being logged in I can do the following
![image](https://user-images.githubusercontent.com/23174198/157679820-0beec2f2-4a9d-4a28-847c-6b3bbfea7990.png)

[2022-03-10 14:18] nick-newstead commented on #899
@blairdrummond I messaged you in slack but to follow up here as well:
1. Regarding replicas, do all I need to do is increase the number replicas in the yaml?
2. Are replicas able to share data volumes and have different port numbers?

[2022-03-10 14:43] dajadam commented on #690
@brendangadd I am reopening this ticket as the issue has not been resolved. We are still manually updating the application. If there’s a solution for this, please let us know. However, if you don’t intend to work on this, you can close the ticket with appropriate comment. Thank you.

[2022-03-10 15:19] brendangadd commented on #907
@jodiqiao Need some clarification. Are you trying to download something using a sharing link someone sent you, or are you trying to download from someone's shared folder?

[2022-03-10 15:23] brendangadd commented on #514
Closing as can't reproduce this on KF 1.3.

@wg102: You can reopen if you can reproduce.

[2022-03-10 15:23] #514 closed

[2022-03-10 15:28] #484 closed

[2022-03-10 15:29] KHobbs3 commented on #854
@rohank07 we are at our capacity of servers on the `deil-lode` namespace unfortunately, and these notebooks are more urgent so I'm unable to re-create it to test.
@Jose-Matsuda Yes, I was attempting to create a notebook with an existing volume.

[2022-03-10 16:03] jumana-s commented on #891
@OmarYoussouf sorry for the long wait, your namespace **agzero-solar-panel** has been created now

[2022-03-10 16:03] #891 closed

[2022-03-10 16:13] Jose-Matsuda opened #932 "Compare first-time image pull speeds on a node: Artifactory and ACR"
Test the image pull speed on a node in the cluster comparing Artifactory(proxying ACR and having the image already in the cache) and ACR.

Steps:
1) Create and push a new image to our ACR, can just do a pr / commit in [aaw-kubeflow-containers](https://github.com/StatCan/aaw-kubeflow-containers)
2) Pull the image in Artifactory to _cache_ it.
3) Create a notebook server using Artifactory and time i

[2022-03-10 16:38] Jose-Matsuda opened #933 "Notebook Security Scanning: Remote Repository + investigation"
Little sub issue for: https://github.com/StatCan/daaas/issues/923

Made the decision to just proxy ACR with Artifactory using a remote repository, probably easier managed.

Need to do the following:

- [x] Create a sample remote repository pointing to dockerhub and be able to pull a **not vulnerable** image, as well as a **vulnerable image**
- [x] Get the results of the XRAY scan of the **vulnerab

[2022-03-10 16:39] ca-scribner commented on #282
I had not seen that!  I'll check it out.

You have great timing, here's one for you: [Metaflow on KFP](https://github.com/zillow/metaflow/tree/feature/kfp/metaflow/plugins/kfp) from Zillow.
 Just found out about it last week!  Haven't tried it myself, but was told it gets a lot of use in Zillow so that's something.

[2022-03-10 16:41] Jose-Matsuda commented on #933
Bringing over a comment

Remember that you need to set permissions on the repository. Will likely create a new user explicitly for this (so that other people cannot just pull it willy nilly).
After being logged in I can do the following
![image](https://user-images.githubusercontent.com/23174198/157711687-c2377c2a-677d-404d-a48a-add45ff3e67b.png)

Upon trying to pull anything with a critical vulne

[2022-03-10 18:27] blairdrummond commented on #899
# Solution:

Scale down the deployment: `kubectl scale deployment/deil-valhalla --replicas=0`

This frees up the PVC, which lets us use this: https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/

Then we replicate the PVC to many PVCs in a statefulset:

[code]

The same `http://deil-valhalla:8002` service works, and load-balances over the pods.

[2022-03-10 20:17] Jose-Matsuda commented on #933
Getting results is pretty fine, the user needs the "Manage Watches" Role on them
[code]
Where `violations.json` looks like
[code]

[2022-03-10 21:17] #367 closed

[2022-03-10 21:24] brendangadd commented on #857
Closing as stale, and referenced notebook reports as running in cluster. @ogunnoo please feel free to reopen if you're still seeing this issue.

[2022-03-10 21:24] #857 closed

[2022-03-10 22:21] brendangadd commented on #901
@kennethchu-statcan Thank you for testing this out! You can also integrate SAS and Python using `saspy`. [See Kevin's comments on that.](https://github.com/StatCan/daaas/issues/903#issuecomment-1062089207)

[2022-03-11 00:14] #361 closed

[2022-03-11 00:16] #274 closed

[2022-03-11 00:26] brendangadd commented on #781
Hi @ben-santos, unclassified pods can now talk to each other within the same namespace. I think you should be able to have notebooks communicate over TCP, so gRPC is likely possible.

I'll close this issue, but feel free to reopen if need be. We're also around on Slack. :)

[2022-03-11 00:26] #781 closed

[2022-03-11 00:33] brendangadd commented on #412
I think this is done, and MinIO is getting replaced soon.

[2022-03-11 00:33] #412 closed

[2022-03-11 00:35] brendangadd commented on #324
Closing.
* We have a Dev cluster! :rocket:
* SLAs will be discussed and established by DAaaS at the project level

[2022-03-11 00:35] #324 closed

[2022-03-11 00:44] brendangadd commented on #499
Closing. This issue is linked on epic #461 for reference and further discussion can happen there. @Jose-Matsuda Just reopen this if you want to keep any active discussion here.

[2022-03-11 00:44] #499 closed

[2022-03-11 00:58] brendangadd commented on #476
@chritter Is this still relevant?

[2022-03-11 01:04] brendangadd commented on #402
Closing as can't reproduce. Please reopen with repro if it's still an issue.

[2022-03-11 01:04] #402 closed

[2022-03-11 01:10] brendangadd commented on #382
Probably also in documentation, portal, Slack, and any other marketing avenues.

[2022-03-11 01:17] brendangadd commented on #666
@Jose-Matsuda Is this the same issue as #745?

[2022-03-11 01:20] brendangadd commented on #403
Closing as stale. @DennisH3 please reopen if this issue is still relevant.

[2022-03-11 01:20] #403 closed

[2022-03-11 01:23] brendangadd commented on #190
Closing as MinIO is no longer a viable product. minio/minio#14331

[2022-03-11 01:23] #190 closed

[2022-03-11 01:25] Jose-Matsuda commented on #666
@brendangadd It certainly seems like it. FWIW I am able to access the problem notebook now but I probably should have tagged a person when creating this issue. I will close this one in favour of #745 as there is more investigation / work done there

[2022-03-11 01:25] #666 closed

[2022-03-11 01:26] brendangadd commented on #52
If users want to use Databricks in a client mode style, it's probably best for them to do that directly in CAS. If we add client mode Spark capabilities, we should consider adding Spark support directly in the cluster. That could be a low priority epic – it's an idea in the roadmap right now, but not scheduled.

[2022-03-11 01:26] #52 closed

[2022-03-11 01:29] #200 closed

[2022-03-11 01:31] brendangadd commented on #334
Closing as stale.

[2022-03-11 01:31] #334 closed

[2022-03-11 01:38] brendangadd opened #934 "[Epic] GitOps deployment in namespace"
Add CI/CD to allow users to do GitOps deployments within their namespaces.

[2022-03-11 01:41] brendangadd commented on #698
@chritter We're scheduled to begin further extending GitOps capabilities for users to deploy workloads in their own namespaces. Seldon model deployment will be a primary focus of this. I just created an epic that we'll use for tracking the tasks: #934.

Closing this issue in favour of the epic.

[2022-03-11 01:41] #698 closed

[2022-03-11 02:18] JosephKuchar commented on #913
Sure, I have no problems with you deleting it. Or I can do it if you give me the kubectl command.

[2022-03-11 02:35] Jose-Matsuda commented on #913
@JosephKuchar Just tested on my own namespace, the better one is probably to do the following.

`kubectl delete notebook on-off-reserve -n joseph-kuchar`

[2022-03-11 05:53] #467 closed

[2022-03-11 06:23] brendangadd commented on #262
I think we'll start to run into situations that challenge the isolation we have for ProB workloads, particularly for StatCan employees vs. external users. But yes, this was a deliberate decision for our architecture.

[2022-03-11 06:23] #262 closed

[2022-03-11 06:24] brendangadd commented on #24
Closing as stale

[2022-03-11 06:24] #24 closed

[2022-03-11 06:30] brendangadd commented on #355
Closing as stale.

[2022-03-11 06:30] #355 closed

[2022-03-11 06:33] #6 closed

[2022-03-11 06:37] brendangadd commented on #296
I think we've converged on a model:
* Common permissions for all users
* Can use `kubectl` but only from within AAW or a StatCan network
* Use Conda for (non-root) binaries – does the trick in majority of cases

[2022-03-11 06:37] #296 closed

[2022-03-11 06:40] brendangadd commented on #522
Closing. ArgoCD for the win.

[2022-03-11 06:40] #522 closed

[2022-03-11 06:48] brendangadd commented on #784
@menmarc
* [StackOverflow: How to automatically remove completed Kubernetes Jobs created by a CronJob?](https://stackoverflow.com/questions/41385403/how-to-automatically-remove-completed-kubernetes-jobs-created-by-a-cronjob)
* [Kubernetes Docs: Clean up finished jobs automatically](https://kubernetes.io/docs/concepts/workloads/controllers/job/#clean-up-finished-jobs-automatically)

Looks like `ttl

[2022-03-11 06:48] #784 closed

[2022-03-11 09:26] blairdrummond commented on #784
@brendangadd I think we actually resolved this with a sidecar terminator fix, but would have to check

[2022-03-11 14:33] vexingly commented on #915
FYI
https://www.elastic.co/guide/en/apm/server/current/jaeger.html
https://github.com/elastic/cloud-on-k8s/blob/2.1/config/recipes/apm-server-jaeger/apm-server-jaeger.yaml

[2022-03-11 15:24] sylus opened #935 "feat(kubeflow): Deploy KF v1.3 to Production"
feat(kubeflow): Deploy KF v1.3 to Production

[2022-03-11 17:45] zachomedia commented on #881
@blairdrummond  It's now in prod: https://github.com/StatCan/aaw-argocd-manifests/commit/66b69c3ddfd083d4888a2af2a320d6fec17ea9b3

I also added it tot the dev Argo Manifests so that it's tracked.

[2022-03-11 18:30] Jose-Matsuda commented on #923
![image](https://user-images.githubusercontent.com/23174198/157930126-7fa5d211-7034-4edb-ada5-2a7c8de4c375.png)

[2022-03-11 18:30] brendangadd commented on #375
Clarification from @wg102:

[2022-03-11 18:45] brendangadd commented on #359
Kubecost has the "efficiency" numbers which could be useful. The challenge is defining where the bar should be, particularly for interactive workspaces where idle time will always be high.

Best thing is to have less compute in the workspace and to delegate to short-lived workloads (e.g. pipeline jobs), but that's relatively advanced for current maturity (both platform and user base). So timing ma

[2022-03-11 18:59] brendangadd commented on #477
Superceded by #912

[2022-03-11 18:59] #477 closed

[2022-03-11 19:02] brendangadd commented on #407
Duplicate of #359

[2022-03-11 19:02] #407 closed

[2022-03-11 19:21] brendangadd commented on #690
@blairdrummond Do we have any assistance we can provide here for automated
deployments, or do they need to stick with manual sync?

On Thu, 10 Mar 2022 at 09:43, dajadam ***@***.***> wrote:

[2022-03-11 19:48] brendangadd opened #936 "[Epic] Networking review"
This epic is for tracking any overhaul we should do to simplify cluster networking. Add suggestions freely to the **Proposed** list (in plain text unless an issue already exists). Items that make it through architectural review will be turned into issues and moved to **Approved**.

### Approved
* [ ] Nothing yet

### Proposed
* StatCan/aaw-argocd-manifests#56
* Create documentation with best pract

[2022-03-11 22:12] brendangadd commented on #554
@blairdrummond Did we do this transfer? :crossed_fingers:

[2022-03-11 22:19] brendangadd commented on #322
Closing: @blairdrummond's dotfile Git repo method is common, effective, and opt-in.

[2022-03-11 22:19] #322 closed

[2022-03-11 22:23] brendangadd commented on #255
Closing as stale.

[2022-03-11 22:23] #255 closed

[2022-03-11 22:25] brendangadd commented on #124
Closing as stale. This may pop back up as part of a specific deliverable (e.g. dashboard publication).

[2022-03-11 22:25] #124 closed

[2022-03-11 23:28] blairdrummond commented on #554
I'm not sure. And I don't think we ever fully figured out what RBAC is necessary for ownership switches -- I don't think switching ownership was ever figured out.

[2022-03-11 23:30] blairdrummond commented on #322
@brendangadd given that new "create a PVC by cloning a PVC" method, I could also see options in the future for this. But I do think a simple dotfiles git repo is the simplest approach

[2022-03-13 05:48] #73 closed

[2022-03-13 06:04] brendangadd commented on #478
From @bryanpaget:

## BI

Not sure what BI options have been explored but from my experience at Health Canada I'd say that should be a priority. People like the easiness of Power BI and I can't blame them, it saves time over R Shiny for basic stuff.

Some options I've found:

- [RAW Graphs](https://github.com/rawgraphs/rawgraphs-app), check out their [homepage](https://rawgraphs.io/) to see how it

[2022-03-14 13:27] Eric-Fecteau-Statcan commented on #904
I wanted to first thank you for the opportunity to test SASpy and to test the SAS Cloud environement as a replacement for the Grid. You will find below our thoughts and challenges in using this as a replacement for the Grid. We are extremely willing to test the next iteration of this or the next possible SAS Grid solution, as we are very eager to find a solution that allows for the speed of the SA

[2022-03-14 14:09] wg102 commented on #924
The repo for this is here: https://github.com/StatCan/aaw-trino

[2022-03-14 14:43] #921 closed

[2022-03-14 18:26] menmarc commented on #881
logs are getting into kibana

[2022-03-14 18:26] #881 closed

[2022-03-14 18:31] vexingly commented on #936
I was also going to propose changes to ClusterRbacConfig, but I understand this would would be replaced with an istio upgrade and can be reevaluated if necessary then...?

[2022-03-15 13:19] Jose-Matsuda commented on #923
Note there's currently an edge case where _some_ of the notebooks are running on images that aren't _from_ the ACR in that they don't have the leading k8s...acr.io bit

[2022-03-15 14:37] cboin1996 commented on #898
Tasks to complete:

- [ ] Get output yaml from helm template configured to deploy postgres, and apply it into the aaw-kubeflow-profiles-controller running locally under a test namespace
- [ ] In the Gitea controller, pull out each k8s resource and apply necessary updates for  configuring a Gitea instance for each namespace
- [ ] Also need to configure a postgres db for each gitea instance

[2022-03-15 15:49] JosephKuchar commented on #913
Thanks, that did it!

[2022-03-15 16:59] brendangadd commented on #648
Duplicate of #374

[2022-03-15 17:35] brendangadd commented on #903
@abbottkr Thank you for doing this!!

[2022-03-15 17:35] #901 closed

[2022-03-15 17:40] Jose-Matsuda commented on #923
Might be whack should look at https://docs.docker.com/registry/spec/api/#pulling-an-image because as stated in the [Docker Registry](https://www.jfrog.com/confluence/display/JFROG/Docker+Registry) documentation Artifactory does support relevant calls of the Docker  Registry API

[2022-03-15 17:41] brendangadd commented on #902
@blairdrummond Any feedback from Marie?

[2022-03-15 17:59] blairdrummond commented on #469
I don't think users have out-of-cluster kubectl access, so I'd call it a Won't Fix

[2022-03-15 18:25] #469 closed

[2022-03-15 22:05] #678 closed

[2022-03-15 22:06] brendangadd commented on #258
Closing as stale.

[2022-03-15 22:06] #258 closed

[2022-03-15 22:11] brendangadd commented on #259
Closing due to limitations when running inside an AAW workspace. If/when this can be done from within a workspace, this would be worth reopening and adding any required extension to our VS Code.

[2022-03-15 22:11] #259 closed

[2022-03-15 22:14] brendangadd commented on #254
Closing as doesn't seem relevant anymore. If there is still a need, let's re-elaborate in a non-COVID context.

[2022-03-15 22:14] #254 closed

[2022-03-15 22:16] brendangadd commented on #724
@sylus Is this done? Close?

[2022-03-15 22:18] brendangadd commented on #18
Probably an FDI thing.

[2022-03-15 22:25] brendangadd commented on #502
Now tracked in #919

[2022-03-15 22:25] #502 closed

[2022-03-15 22:45] brendangadd opened #939 "Add Seldon documentation"

[2022-03-15 22:47] brendangadd commented on #699
Breaking out this issue:
* Split off documentation to #939
* @chritter Please create new issues for any outstanding bugs
* Closing this issue as base implementation is rolled out to Prod

[2022-03-15 22:47] #699 closed

[2022-03-15 22:58] brendangadd commented on #854
@KHobbs3 I'll close this for now. Please reopen if this issue turns up again once you're able to launch a new server and test it.

[2022-03-15 22:58] #854 closed

[2022-03-16 01:36] sylus commented on #724
Not yet @brendangadd at some point I am supposed to merge some work with upstream.

This will probably only happen after KF 1.3.

[2022-03-16 15:28] YannCoderre commented on #796
This client has been marked as onboarded but as per indicated by Brendan Gadd on January 28, DAaaS doesn't provide the hosting service we need for the FC internal report hub. This issue can be closed.

[2022-03-16 15:28] #796 closed

[2022-03-16 15:30] #780 closed

[2022-03-16 15:52] cboin1996 commented on #897
PR associated with this issue: https://github.com/cboin1996/k3d-gitea/pull/4

[2022-03-16 15:52] cboin1996 commented on #897
PR associated with this issue: https://github.com/cboin1996/k3d-gitea/pull/4

[2022-03-16 16:03] YannCoderre opened #941 "FEAT: Create AAW Presentation"
To create a presentation to ease and have a better flow to present AAW platform and services.

[2022-03-16 16:07] YannCoderre commented on #941
Created Slides
Location: https://docs.google.com/presentation/d/12yTDlbMCmbg0ccdea2h0vwhs5YTa_GHm_3DieG5A-k8/edit#slide=id.p
Reviewed by Brendan G
Used it 4 demos so far.
Great comments.
Constantly being updated based on client feedback.

[2022-03-16 16:07] #941 closed

[2022-03-16 17:02] bryanpaget opened #942 "Support: Add FAQ to DAaaS README.md"

[2022-03-16 17:10] bryanpaget commented on #942
I will be updated the FAQ on an ongoing basis as I collect more items.

[2022-03-16 17:44] YannCoderre opened #943 "Onboarding JIRA Board (Creation to improvements)"
This Jira Board was created to keep track of all clients to use AAW platform and services.

[2022-03-16 17:47] YannCoderre commented on #943
Work completed:

- Created CSU filters
- Created AAW filters
- Added proper gadgets
- Created JIRA board with proper flow of gadgets.
- Revisited filters and fixed them with proper conditions.
- Created labels to define work flow.

[2022-03-16 17:47] #943 closed

[2022-03-16 17:49] YannCoderre commented on #943
This JIRA board is visited by @YannCoderre  and @bryanpaget very morning to see if AAW has any new client information.

The JIRA board is located here:
 https://jirab.statcan.ca/secure/Dashboard.jspa?selectPageId=23601

[2022-03-16 17:51] bryanpaget opened #944 "Support: Investigate Pyomo and COIN-OR Optimizers"

[2022-03-16 17:54] bryanpaget commented on #944
The issue is located here: https://github.com/StatCan/aaw-contrib-containers/issues/86

[2022-03-16 21:21] brendangadd commented on #280
@blairdrummond What do we do with this? Bucket events are cool; MinIO, less so.

[2022-03-16 21:25] blairdrummond commented on #280
I think we have to start with an eventing system, like EventHub or EventGrid or whatever it's called, and then prove out how to generate events. I reckon that there's an azure-level primitive to generate blob storage events, we'd have to do it there. MinIO doesn't support events in proxy mode.

Once we have an event queue (generic) and then an event generator (specific), I think ArgoEvents lets yo

[2022-03-16 21:26] blairdrummond commented on #280
I think the Azure tool supports AMQP and Kafka btw

[2022-03-16 22:51] brendangadd opened #948 "Cleanup issue templates"

[2022-03-17 00:52] brendangadd commented on #605
Our KF 1.3 upgrade should hopefully fix this problem – though I'm a little suspicious because the linked upstream issue has a comment reporting it persisting in 1.3.0. Anyway, this issue should be tracked/reported via the upstream issue (kubeflow/pipelines#4939).

[2022-03-17 00:52] #605 closed

[2022-03-17 11:58] Jose-Matsuda opened #949 "Notebook Security Scanning: Dockerfile creation"
EPIC: https://github.com/StatCan/daaas/issues/461

Create the dockerfile to be used for this job.

Useful links
https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/

Example of running minimal image
![image](https://user-images.githubusercontent.com/23174198/158803857-d88ac178-c207-4c57-aff4-e149ff53e9ea.png)

[2022-03-17 16:32] blairdrummond opened #950 "SAS Support: Gatekeeper Policies for blocking SAS notebooks"
If `state.aaw.statcan.gc.ca/non-employee-users` is true, do not allow employee-only features. (In this case, SAS notebooks)

[2022-03-17 16:33] blairdrummond opened #951 "Create profile controller for dynamic labeling"
Controller to look for SAS images in the Pods, set `employee-only-features` label in the Profile.

[2022-03-17 17:29] Jose-Matsuda commented on #949
Resizing to account for investigation into containerd and nerdctl

[2022-03-17 17:30] wg102 commented on #925
We deployed trino I our local ArgoCD cluster using the [trino-env-branch](https://github.com/StatCan/aaw-argoflow-azure/tree/trino-env-branch) for testing.

This has minIO, trino and we removed most of the kubeflow applications to minize resource needs.

Once that is done, we tried to see if MinIO was up and about.
To do this, we used k9s and portforwarded the minIO pod  and more precisely the min

[2022-03-17 18:33] Jose-Matsuda commented on #949
Look into crane
https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane.md

[2022-03-17 18:34] Jose-Matsuda commented on #923
# Look into crane

https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane.md

[2022-03-18 03:08] Jose-Matsuda commented on #923
Well whaddya know
![image](https://user-images.githubusercontent.com/23174198/158930147-9c8f499b-2304-4bb0-b9e5-1d7b025ad59a.png)

[2022-03-18 14:04] rohank07 commented on #925
Need to fix the case for the repo name to lowercase. https://github.com/StatCan/charts/blob/master/stable/namespace-controller/values.yaml#L8

[2022-03-19 19:27] rohank07 commented on #926
Breaking this task down into:
1. Setting up a virutal service/ingress and connect using https service to the pod level
2. Once verified 1. works, add x-forwarded proto header

[2022-03-21 14:39] chuckbelisle commented on #844
@vexingly what's the latest on this task?

[2022-03-21 14:50] vexingly commented on #844
@chuckbelisle the kibana/es stack is up and running and a basic heartbeat module was added, I had to add an additional task that was missing (and a blocker for some of the other tasks) - fluentd log integration!

To complete the heartbeat task, would you be able to provide specific URL's that you wanted to include (MinIO gateway, Jupyter API, Vault, Azure-NPM) and we can add them this afternoon?

[2022-03-21 15:55] brendangadd commented on #560
Reassess this once KF 1.3 is deployed. @blairdrummond says this should be configurable via environment in newer versions.

[2022-03-21 16:28] blairdrummond commented on #936
Just some loose thoughts:

| DNS  (and matching certificate)                   | Internet reachable   |   Gateway       | Scope | Example Service |
|:-----|:----|:-----|:-----|:-----|
| *.aaw.cloud.statcan.ca        | Yes | public gateway   | accessible to all | Kubeflow |
| *.internal.aaw.cloud.statcan.ca | No |  internal gateway | accessible within statcan networks; NetB & Cloud VMs | ArgoCD |
|

[2022-03-21 18:44] chuckbelisle commented on #844
**Dev URLs**
MinIO: http://minio.aaw-dev.cloud.statcan.ca/
ArgoCD: https://daaas-system-argocd.aaw-dev.cloud.statcan.ca/
Jupyter api: https://kubeflow.aaw-dev.cloud.statcan.ca/# (could potentially use an api call or a system namespace, URL would be https://kubeflow.aw-dev.cloud.statcan.ca/notebooks/[username]/[notebookname]/api)

[2022-03-21 19:11] blairdrummond opened #955 "Test replacement of MinIO Vault tokens with STS tokens in k3d"
See if we can configure MinIO to use [the new kubernetes oidc service](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-issuer-discovery) to use the STS api.

Following this: https://github.com/minio/minio/blob/master/docs/sts/web-identity.go

A sidecar or agent could generate temporary credentials (up to 14 days) on a rotation, and inject them in

[2022-03-21 20:53] chuckbelisle commented on #911
@vexingly was this resolved?

[2022-03-21 21:17] vexingly commented on #911
I just verified and i'm still not able to exec into system pods or other namespaces that I don't have specific namespace admin role on.

[2022-03-21 21:20] #917 closed

[2022-03-22 00:02] #922 closed

[2022-03-22 02:25] rohank07 commented on #925
Able to create schema, create table and insert into table.
![image](https://user-images.githubusercontent.com/28408586/159395231-49fd62ba-20cb-430c-b340-2d55db3b1c74.png)

Issue with resources being named hive-hive-metastore and not hive-metastore because ArgoCD application must have the same name as the chart name.

[2022-03-22 17:04] wg102 commented on #925
Following the work done on the trino repo and argoflow repo, this issue can be considered completed

[2022-03-22 17:04] #925 closed

[2022-03-22 17:26] Jose-Matsuda opened #956 "Notebook Security Scanning: Argocd Manifests and Terraform"
EPIC: https://github.com/StatCan/daaas/issues/461
Create the definition files in aaw-argocd-manifests for the job as well as the secrets and namespace in the terraform repository.

Most of the work has been done [here](https://github.com/StatCan/aaw-argocd-manifests/tree/nb-scanning-nb-vulns) with the last thing being to update the image tag, as well as use the secrets from the terraform.
This is

[2022-03-22 17:39] #948 closed

[2022-03-22 18:21] Jose-Matsuda opened #957 "Notebook Security Scanning: Patch affected aaw-kubeflow-containers"
15/06/2022 UPDATE:

This should not be bad.

Cronjob that does a bunch of `kubectl` commands to get pod spec and then get say the imageid and then compare that with what we get from the acr api.
Then we can run a `kubectl rollout restart` for specific statefulsets where  `imageid sha256` is different.

What we will need
- [x] Dockerfile with kubectl and curl
- [x] buncha kubectl commands
- [ ] ~~n

[2022-03-22 18:45] Jose-Matsuda commented on #913
@JosephKuchar could I also get you to do `kubectl delete pods on-off-reserve-0 -n joseph-kuchar --grace-period=0 --force` as the pod is actually still stuck in terminating.

[2022-03-22 19:07] wg102 opened #958 "Deploy Kubeflow 1.3 in Prod"
Once https://github.com/StatCan/aaw-kubeflow-manifests/commits/main and the changes from 1.3 are tested in dev. It will be ready to push to prod.

This may also include external elements, or touch multiple repos.

[2022-03-22 19:14] brendangadd commented on #899
Closing as work by @blairdrummond has been completed. @nick-newstead: Please reopen this issue if you find a problem with your new setup.

[2022-03-22 19:14] #899 closed

[2022-03-22 19:19] Jose-Matsuda opened #959 "Discussion about a new -containers repo"
Came with the creation of the https://github.com/StatCan/aaw-security-scanning-containers (was initially a generically named repo)
Makes for a good Tech Elab topic

Points to discuss

If we want this specific nomenclature for this specific task or have a generic repository name for more images to be used for other images.
An advantage to the generic name is to have multiple dockerfiles, and only n

[2022-03-22 19:38] Jose-Matsuda opened #960 "Notebook Security Scanning: Artifactory Proxying ACR issue"
From https://github.com/StatCan/daaas/issues/933 and https://github.com/StatCan/daaas/issues/923 an issue arose where it's not simple / seems more involved to proxy the ACR.

My initial research
When I try and use the access token provided by to update the remote repository . I get an error, in the log it says
[code]
There are a [couple](https://jfrog.com/knowledge-base/how-to-resolve-the-given-fi

[2022-03-22 19:38] Jose-Matsuda commented on #923
Closing and tracking the ACR issue https://github.com/StatCan/daaas/issues/960

[2022-03-22 19:38] #923 closed

[2022-03-22 19:40] Jose-Matsuda commented on #933
Closing as the remote repo proxy is a bit more involved https://github.com/StatCan/daaas/issues/960

[2022-03-22 19:40] #933 closed

[2022-03-23 02:18] rohank07 commented on #925
### NOTE
Installed istio on the local kind cluster and kept on getting `failed to get credential token: open /var/run/secrets/kubernetes.io/serviceaccount/tocken: no such file or directory....` on the istio-proxy container for the hive-metastore container.
This goes back Brendan's comment about the compatibility issue. `kubectl get --raw /api/v1 | jq '.resources[] | select(.name | index("serviceac

[2022-03-23 14:25] rohank07 commented on #722
Closing. Duplicate issue of https://github.com/StatCan/daaas/issues/727

[2022-03-23 14:25] #722 closed

[2022-03-23 15:42] chuckbelisle commented on #920
added client secret for oidc in prod

[2022-03-23 16:09] vexingly commented on #896
@chritter does this still occur? Do you have an example of search terms that can reproduce the issue? I made some attempts but was not able to reproduce. Thanks!

[2022-03-23 20:02] Murds7 opened #962 "[Help] Project/Software Installation"
Would it be possible to install one or both of the following projects either in a Jupyterlab or remote desktop server?
1) https://github.com/IIT-PAVIS/Social-Distancing
2) https://github.com/intel-iot-devkit/social-distance
Would there be any additional steps to use tensorflow and a GPU if installed on a remote desktop server?

[2022-03-23 20:41] vexingly commented on #844
Fluentd integration is working now using internal service address

[2022-03-24 00:27] brendangadd commented on #962
@chuckbelisle Assigned to you because you're on support duty. :)

[2022-03-24 00:28] brendangadd commented on #958
Duplicate of #935

[2022-03-24 00:28] #958 closed

[2022-03-24 16:21] sylus commented on #878
@brendangadd before we do the final steps can members of your team check all of the mirror repos to make sure nothing got exposed that shouldn't have? We think everyone is good but would like a second pair of eyes before the final steps.

[2022-03-24 20:00] sylus commented on #878
I have updated the readme with the current status of this ticket:

https://github.com/StatCan/daaas/commit/570268ab50b3918f3b5ee5edfb36dc507c0760e1

[2022-03-24 20:21] YannCoderre opened #964 "ONBOARDING: Slide Presentation Modifications and Enhancements"

[2022-03-24 20:26] YannCoderre commented on #964
During many presentation we have noted that our Presentation would need some modifications or enhancements:

- List of Packages (link)
- Add diagram (FDI transfer and AAW as a whole)
- Difference between Volumes
- More emphasis on GENERAL slack channel
- Better explanation of MinIO

[2022-03-24 20:26] YannCoderre opened #965 "ONBOARDING: FAQ (Add, Modify and Enhancements)"

[2022-03-24 20:35] YannCoderre commented on #965
We need to start elaborate on the current FAQ with new Question and Answers from the past DEMOs

Some of examples of questions are:

- Is there a list of open sources packages approved by Artifactory?
- What is the differences between volumes?
- What Slack Channel do I use?
- What is the difference between non-Protect B and Protected B workspaces
- What are the different file formats can I use in

[2022-03-24 20:36] YannCoderre opened #966 "ONBOARDING: FAQ (French Translation)"

[2022-03-24 20:36] bryanpaget opened #967 "ONBOARDING: Namespace creation: Etienne Low-Decarie JIRA CSU (1408-13)"
Create namespaces for Etienne and the SSC.

[2022-03-24 20:38] YannCoderre commented on #966
Once the FAQ is created (draft), translate to french. Of course, as we add FAQ's, we will always need to translate and push to github.

This will be the first time we translate the FAQ document.

[2022-03-24 20:39] YannCoderre opened #968 "Permissions to log in to the AAW Dev cluster"

[2022-03-24 20:41] YannCoderre commented on #968
Paul MacGlinchey requested to get permissions to "get-credentials" in the AAW Dev cluster?  He is attempting to connect to the AAW Dev cluster and I get an AuthorizationFailed error.

He is following these steps to connect, I fail on step 5: https://confluenceb.statcan.ca/display/DAaaS/Kubernetes+documentation

He is also requesting to get permissions for himself, Paul Gosal and Mike Hum?

[2022-03-24 20:42] bryanpaget commented on #967
There were some issues with the creation of the following namespaces:

- profile-ssc-poc-cfia-clb
- profile-ssc-poc-cfia-nrcan
- profile-ssc-poc-dfo-csa
- profile-ssc-poc-nrc-nrcan
- profile-ssc-poc-nrcan-cce
- profile-ssc-science-program-team

We ended up using a lower-case email address for Etienne but it turns out his email address contained some upper-case characters. We modified the email add

[2022-03-24 20:42] YannCoderre commented on #968
Zack stated in the following:

The AAW team has the ability to grant Azure AD groups permissions to pull the kubeconfig for the cluster.

[2022-03-24 20:45] YannCoderre opened #969 "ONBOARDING: VIDEO Creation"

[2022-03-24 20:47] YannCoderre commented on #969
This is a placeholder for the onboarding videos to come.

[2022-03-25 16:43] sylus commented on #878
This took me forever and about 5-6 hours of work but done.

[2022-03-25 16:43] #878 closed

[2022-03-25 17:32] chuckbelisle commented on #968
@YannCoderre as discused earlier this week. Once Paul can provide the reason he needs get-credential access on the dev cluster we can simply add him to the support group in AAD.

[2022-03-25 17:47] bryanpaget opened #970 "ONBOARDING: write script to obtain list of all users with email addresses."
CSU sometimes asks for a list of all users along with email addresses.  I wrote a script to produce a CSV.

Script location: https://github.com/bryanpaget/aaw-users-script/blob/main/get-users-table.sh

[2022-03-25 18:14] #844 closed

[2022-03-25 18:33] chuckbelisle opened #971 "Kibana dev tuning before pushing to prod"
Epic: #839
Related: #844
Blocks: #908

Requirements:
- [x] fluentd ingestion performance issues
- [x] fluentd ingestion filtering
  - [x] custom pipeline
- [x] elastic index template / ILM for fluentd logs
- [x] default dashboard
- [x] user namespace logging support

Fine tuning of things in dev before pushing deployment to Prod cluster

[2022-03-26 13:44] Jose-Matsuda commented on #960
Upon using a new token

![image](https://user-images.githubusercontent.com/23174198/160242067-cf12862e-5a7a-4196-b200-2d0b8c56d326.png)

Now 5 minutes in I did get in triggering the pull I did get
![image](https://user-images.githubusercontent.com/23174198/160242210-ae89d9bd-52de-4b23-9d43-1b2a3a6759c0.png)

[2022-03-26 13:46] Jose-Matsuda commented on #960
`artifactory-service.log`

[code]

[2022-03-28 11:43] goatsweater opened #972 "VNC: Document "log out" procedure and recovery from blank VNC screen"
#### Issue

When users want to close their remote desktop sessions, their instinct is to look for some kind of log out method. They then find this through the menu, logging out of the user session and closing the browser window. Upon return, clicking `connect` in kubeflow results in a black screen since the VNC connection is awaiting someone to log in. There is no way to log in.

The only user fac

[2022-03-28 17:09] Jose-Matsuda commented on #960
## Attempting to pull  a smaller image from the ACR
Jupyter-apis does seem to get picked up (this for example doesnt show for jupyterlab-cpu or rstudio)
![image](https://user-images.githubusercontent.com/23174198/160448824-70bebd84-be5c-4534-891c-af35b80a2e3c.png)

Additionally, looking into the actual remote cache I can see
![image](https://user-images.githubusercontent.com/23174198/160449687-c11

[2022-03-28 17:55] Jose-Matsuda commented on #960
### Possible Problem
![image](https://user-images.githubusercontent.com/23174198/160457774-5a8d0d7e-58b6-4ab9-9d2a-cd1649cd57b7.png)
To minimize this I could set the following to "1" but the first time this is ran is an issue.
![image](https://user-images.githubusercontent.com/23174198/160457956-b02696e2-f570-4aff-b918-0c125cd4a5e6.png)

[2022-03-28 18:51] YannCoderre commented on #967
Bryan deleted al the SSC namespace. Waited for 30 minutes. Re-created the above SSC namespaces. Etienne informed Yann and Bryan that he was able to access all namespaces.

This issue can be closed

[2022-03-28 19:57] rohank07 commented on #926
Step 1 :heavy_check_mark: : .
Created Gateway and Virtual Service. Gateway has both http and https ports. httpsRedirect is enabled on the Gateway. The http traffic is directed to https (80 to 443). Deployed MetalLb on local cluster to resolve host via browser (temporarily using https://trino.example.com/ui/) configured to use the istio-ingressgateway's external-IP. Virtual service resolves to host

[2022-03-28 22:03] blairdrummond opened #974 "Update aad-refresher-script and create a Dockerfile for it."
It didn't catch an updated key after the FDI team rotated a key. We will need to debug and assess why. Also the base image shouldn't be 15gb.

[2022-03-28 22:06] #920 closed

[2022-03-29 14:32] wg102 commented on #928
Note: the namespace-controller is already in the code, but to run the `make helm-install` and avoid a pull image-backoff, it needs to be built locally under the name statcan/namespace-controller:0.0.1 since it's the one expected by the Chart.

[2022-03-29 19:31] bkowalukcphd opened #975 "[Help] Looking for a shared namespace in AAW"
Hi,  I am looking to create a shared namespace in AAW to enable collaboration with internal and external stakeholders. Thanks and let me know if you have any questions.

bk

[2022-03-30 15:09] #950 closed

[2022-03-30 15:30] Jose-Matsuda opened #976 "Bulk image update of aaw-kubeflow-container notebooks"
This is an off-shoot off of the Notebook security scanning Epic

Similar to Rohan's [Patch existing remote-desktop](https://github.com/StatCan/daaas/issues/921) issue.

This should be done for all our [aaw-kubeflow-containers](https://github.com/StatCan/aaw-kubeflow-containers) images for a few reasons.

1. There are probably a LOT of (example) jupyterlab-cpu images with differing tags on the clus

[2022-03-30 15:58] jumana-s commented on #975
Can you provide me with your cloud email and the namespace name?

[2022-03-30 16:09] jumana-s opened #977 "MinIO: download of folder gives empty file"
#### Describe the bug

Trying to download a folder returns an empty file.

#### Environment info

Namespace: N/A

Notebook/server: N/A

#### Steps to reproduce

Steps to reproduce the behavior:

1. Go to https://minio.cloud.statcan.ca
2. Browse a bucket
3. Click download button for a folder
4. See empty downloaded file

#### Expected behaviour

A zip of the folder downloaded.

[2022-03-30 16:10] jumana-s commented on #977
Fixed by newer releases of MinIO, but newer releases of MinIO are incompatible with using OPA.

[2022-03-30 16:13] jumana-s commented on #809
Closed by #920

[2022-03-30 16:13] #809 closed

[2022-03-30 17:27] blairdrummond commented on #554
Done!

[2022-03-30 17:27] #554 closed

[2022-03-30 17:30] Jose-Matsuda commented on #976
Gist [here](https://gist.github.com/Jose-Matsuda/193d7d171ee92086830122e4874c4b66)

[2022-03-31 18:16] chuckbelisle commented on #962
@Murds7 We'll be reviewing this request next week when we go through our next sprint planning. Stay tuned until then.

[2022-03-31 21:29] #975 closed

[2022-04-01 13:58] Jose-Matsuda commented on #957
Please look at #961, there was discussion there that may make this a bit easier. We can have the `imago` approach to updating images and have them be on the latest possible one, and with it we do not need to patch affected containers as `imago` would do it for us. Having said that need to look and make sure that imago can do it

[2022-04-01 18:44] rohank07 commented on #928
Couldn't verify netpols were working because we needed to install Calico or Cilium on our local kind cluster.
Installing Cilium:
`curl -L --remote-name-all https://github.com/cilium/cilium-cli/releases/latest/download/cilium-linux-amd64.tar.gz{,.sha256sum}
sha256sum --check cilium-linux-amd64.tar.gz.sha256sum
sudo tar xzvfC cilium-linux-amd64.tar.gz /usr/local/bin
rm cilium-linux-amd64.tar.gz{,.sh

[2022-04-01 19:08] chuckbelisle commented on #911
closed by merging https://gitlab.k8s.cloud.statcan.ca/cloudnative/aaw/terraform-advanced-analytics-workspaces-infrastructure/-/commit/e2b4a1bdb31eb7f90acea73789a9136730d71096
and created new var for repo named "TF_VAR_dev_admins" in order to include AAD dev cluster specific user groups

[2022-04-01 19:08] #911 closed

[2022-04-01 19:48] #959 closed

[2022-04-04 14:59] Jose-Matsuda opened #978 "Notebook Security Scanning: Investigate cleaning remote repository cache"
EPIC: https://github.com/StatCan/daaas/issues/461

### CURRENT STATUS 22/08/2022

- remote proxy of acr has been removed from the index 17/08/2022, this did not appear to have a big effect on the `xray-indexer` storage, as the next day 18/08/2022 the space available went down 20Gb
- the scanning of images on _dev_ has been updated (18/08/2022) to be on Saturdays instead of every day, this seems to

[2022-04-04 17:36] rohank07 commented on #926
Step 2: :heavy_check_mark:
Added X-forwarded proto header in the virtual service (no need for EnvoyFilter). Unable to verify using request headers via httpbin. This will be verified when jwt auth is set up.
Breakdown: Browser gets request -> istio adds request header -> passes request to Trino

[2022-04-04 19:24] rohank07 commented on #976
Verifed the bulk update script. LGTM!

[2022-04-04 19:39] Jose-Matsuda commented on #976
Will run the bulk update **ON DEV**. (I do not have the permissions to do this unfortunately will need someone else to run them)

Prod will be at a later date (possibly on Friday night)

[2022-04-05 13:12] Jose-Matsuda commented on #956
stuff has been merged just need to wait and see. The dockerfile itself will be iterated on

[2022-04-05 13:12] #956 closed

[2022-04-05 13:45] rohank07 opened #979 "Verify JWT Auth configuration"
Verify user is able to authenticate with JWT token in namespace and connect to trino. Running `select current_user;` should return user namespace name.

Confirm following senarios:
* curl with valid token -> run any query at all
* same curl with invalid or no token -> denied access
* curl with unencrypted HTTP and valid token -> denied access
* curl with valid token, ask for different user -> deni

[2022-04-05 13:54] wg102 commented on #927
Thoughts on this ticket:

Block all incoming into hive except trino

List of the policies:
- trino-system being able to ingress into hive (does hive return anything if so we will also need an egress)
- allow-same-namespace (possibly to be created in the namespace controller)

[2022-04-05 14:19] Jose-Matsuda commented on #976
Chuck was able to run it successfully on dev. Pods came back up as expected after a couple minutes.

[2022-04-05 14:21] wg102 opened #980 "Implement Trino Secrets"
Trino should additionally authenticate with a secret at the very least
Remove the hardcoded passwords from the trino and use secrets instead.

Including the necessary things for local testing to work.

[2022-04-05 15:48] jumana-s commented on #906
# Deployment
1. On an AKS cluster, give the user-assigned managed identity in the cluster's resource group **Contributor** role over the resource group. [Prerequisites section](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/install-driver-on-aks.md#set-up-csi-driver-on-aks-cluster)
2. [Install CSI driver master version](https://github.com/kubernetes-sigs/blob-csi-driver/blob/m

[2022-04-05 16:27] chritter opened #981 "VSCode on VNC notebook server: crashes"
#### Describe the bug

Using VS Code in VNC notebook servers we found that it often crashes due to unknown reasons, not providing any error message. Crashes frequently, on multiple days and observed on two notebook servers.

#### Environment info

Namespace: eventdetec

Notebook/server: e.g. "orchestrate"

#### Steps to reproduce

Start VS Code via terminal `code .` and the crash will appear somet

[2022-04-05 17:01] #898 closed

[2022-04-05 17:11] #965 closed

[2022-04-05 17:12] #970 closed

[2022-04-05 17:12] #964 closed

[2022-04-05 17:12] #967 closed

[2022-04-05 17:32] blairdrummond commented on #906
Weird question, do these volumes *need* to have a defined size? The current FlexVolumes don't I think?

[2022-04-05 17:57] jumana-s commented on #906
Does this count as a non defined size:
[code]

[2022-04-05 18:06] blairdrummond commented on #906
[code]
Seems to have a capacity cap. But I wonder how that maps to the backend... If we just made the PVCs "1000TB" maybe that'd be OK? I have no idea...

[2022-04-05 18:20] YannCoderre commented on #966
The english FQA has been translated to french. The document itself can be located here:
https://docs.google.com/document/d/1MKjsZ3bcrgPpiCY8OPBJhYUilH0utTlvrW2F2r--J8M/edit

The proper location stills need to be discuss but will be completed in future issues.

[2022-04-05 18:20] #966 closed

[2022-04-05 18:26] #926 closed

[2022-04-05 18:41] #928 closed

[2022-04-05 18:49] wg102 opened #982 "Implement using Postgres instead of MariaDB for hive-metastore"
To discuss with Cloud. See the repercussions.

[2022-04-05 19:15] chuckbelisle commented on #741
All resource groups and resources have been tagged with AAW wid "100117" - confirmed
No impacts observed - confirmed

[2022-04-05 19:15] #741 closed

[2022-04-05 19:19] Jose-Matsuda opened #983 "PROD: ONE-TIME Bulk image update of aaw-kubeflow-container notebooks"
Do what we did https://github.com/StatCan/daaas/issues/976 but on prod. Essentially just run the script (but someone with elevated permissions must do it).

[2022-04-05 19:19] cboin1996 commented on #898
- Update to profile controller : https://github.com/StatCan/aaw-kubeflow-profiles-controller/pull/27
- Added chart: https://github.com/StatCan/charts/pull/231
- Argocd Manifests: https://github.com/StatCan/aaw-argocd-manifests/pull/79
- Gatekeeper: https://github.com/StatCan/aaw-gatekeeper-constraints/pull/7
- Labels for source control enrolment: https://github.com/StatCan/aaw-kubeflow-profiles/pu

[2022-04-06 00:59] rohank07 commented on #926
Got the X-Forwarded-Proto: https header to show when using httpbin api. ` curl -s -HHost:httpbin.example.com "http://$INGRESS_HOST:$INGRESS_PORT/headers?show_env`

![image](https://user-images.githubusercontent.com/28408586/161874538-b774acf4-fa2d-436e-ae8a-4246d01622d3.png)

[2022-04-06 02:49] saffaalvi opened #984 "Create RoleBinding controller for dynamic labeling"
Look for RoleBindings, set `state.aaw.statcan.gc.ca/non-employee-users` label

Look at the Rolebindings, if they are an external user (from the email), we set the `non-employee-user` label to true in the profile.

[2022-04-06 06:23] blairdrummond opened #985 "Tombstone for previous Profile object"
Relates to a problem mentioned by @brendangadd

If a user creates a Profile, does work, then leaves the platform, we need to clean up the Profile after. INCLUDING, removing old postgres databases for gitea, minio storage, etc.

Cleanup is required for two reasons: Saving space / regular hygiene, but also preventing a user from creating a profile of the same name and having access to that data.

Fo

[2022-04-06 12:54] OmarYoussouf opened #986 "Need help creating a namespace for Greenhouse project"
Hi,

I would like to create a namespace in MinIO for a project on greenhouse identification.
This project is a collaboration between Agri division and DsDc. We are now beginning the transition to production and would like to start fresh with a new namespace owned by Agri staff.

Cloud account of the namespace owner:
omar.youssouf@cloud.statcan.ca

Name of namespace:
Agzero- greenhouse

Should you

[2022-04-06 12:59] blairdrummond commented on #888
@brendangadd , ^

We might be able to make the gitea/postgres architecture reusable enough to copy-paste the postgres setup for MLFlow. What do you think?

[2022-04-06 13:03] bryanpaget opened #987 "Mini Version of Presentation"
Adapt full-length presentation slides to fit a 5 to 10 minute presentation.

[2022-04-06 13:05] bryanpaget opened #988 "Move FAQ into Documentation"

[2022-04-06 13:06] bryanpaget commented on #988
Move FAQ into appropriate home.

[2022-04-06 13:06] bryanpaget opened #989 "Update Documentation Part 1: Main documentation page."
Part 1: Update main documentation page.

[2022-04-06 13:07] blairdrummond commented on #986
@OmarYoussouf Instead, what about transfering ownership of the existing namespace?

[2022-04-06 13:16] OmarYoussouf commented on #986
hi @blairdrummond, yes that would work as well! Thanks

[2022-04-06 13:45] Jose-Matsuda commented on #986
@OmarYoussouf to confirm it is the `greenhouse-detection` namespace you want ownership transferred to your account of omar.youssouf@cloud.statcan.ca

[2022-04-06 14:05] OmarYoussouf commented on #986
Hi @Jose-Matsuda, I can confirm that the namespace is greenhouse-detection and should be transferred to my cloud account

[2022-04-06 14:33] #986 closed

[2022-04-06 14:34] Jose-Matsuda commented on #986
I will just need to resync some resources (Had this auto close by a PR)

[2022-04-06 15:12] chuckbelisle opened #990 "reduce max cpu to 14"
From our testing, we are not able to schedule a 15 CPU notebook, but 14 CPU works.

[2022-04-06 15:16] blairdrummond commented on #339
There are two issues:
- Health probe on the notebook (So that you don't see "no healthy upstream")
- The virtualservice doesn't always exist in time, and clicking connect sends you to the Kubeflow home page

[2022-04-06 15:33] #607 closed

[2022-04-06 15:39] #57 closed

[2022-04-06 19:02] rohank07 opened #991 "Research into Define RBAC administration process"
Implement and test File-based access control
https://trino.io/docs/current/security/file-system-access-control.html

[2022-04-06 20:09] menmarc opened #992 "Connectivity issue with Azure Instance Metadata Service api"
Our cronjobs in AAW prod aren't able to retrieve managed identities using the  Azure Instance Metadata Service endpoint (http://169.254.169.254/metadata/identity/oauth2/token) which was working 2 days ago. Right now it returns the following error message:

getting assigned identities for pod org-ces-system/testjob-wvg87 in ASSIGNED state failed after 20 attempts, retry duration [5]s, error: <nil>.

[2022-04-07 14:54] YannCoderre commented on #987
@bryanpaget completed the Mini Presentation that was used at the DAaaS Demo to the ACS.  The presentation will be reviewed at a later date to add some new slides and possibly adding to the existing slides.

[2022-04-07 14:54] #987 closed

[2022-04-07 19:10] chuckbelisle commented on #960
Some notes and reference points given by Zach and Will during our CNS touchpoints
https://gitlab.k8s.cloud.statcan.ca/cloudnative/aaw/daaas-infrastructure/aaw-prod-cc-00/-/blob/main/jfrog.tf
https://github.com/jfrog/charts/tree/master/stable/jfrog-platform
https://github.com/jfrog/charts/tree/master/stable/artifactory

We need to figure out where/how to add the Artifactory property in helm chart,

[2022-04-07 21:19] msmailes opened #993 "Jupyter notebook : save error"
#### Describe the bug

After accessing a jupyter notebook, I make changes to the code and try to save the notebook. One error comes up consistently (File Save Error for SDG.ipynb - Invalid response: 503) and another error pops up right after the first one intermittently (File Save Error for SDG.ipynb XSRF cookie does not match POST argument). I tested on two namespaces and the same problem happens

[2022-04-08 14:11] Jose-Matsuda commented on #960
Consolidating things here, will update with things
[Link to the values.yaml for chart version 0.4.1, which is the version provided in the terraform](https://github.com/jfrog/charts/blob/86a03e58c19bd2b1080cbeee46a0b6a52ea38051/stable/jfrog-platform/values.yaml).

[2022-04-08 18:57] chritter commented on #896
@vexingly Thanks for the follow-up. The bug is gone.

[2022-04-08 18:57] #896 closed

[2022-04-08 18:59] chritter commented on #476
@brendangadd It might have been resolved since then.

[2022-04-08 18:59] #476 closed

[2022-04-08 19:46] christiesambell opened #994 "[Help] Change owner of namespace on AAW"
Can you please change the ownership of the SEDAR namespace on the AAW from Shirin Roshanafshar to myself(christie.sambell@cloud.statcan.ca or christie.sambell@statcan.gc.ca? Thanks

[2022-04-09 11:28] chritter commented on #217
Close due to inactivity and  lack of relevance.

[2022-04-09 11:28] #217 closed

[2022-04-11 13:41] bryanpaget opened #995 "Update CUDA, PyTorch, Tensorflow"
# Issue

We may want to upgrade PyTorch and Tensorflow to their latest versions. If an upgrade to CUDA is required then we should do that too but based on my preliminary tests, I'd say we don't need to upgrade CUDA, yet.

## Details

I think we should take this opportunity to simplify the GPU compute offering on the AAW. To do this, I recommend the following steps be taken:

1. Get rid of PyTorch

[2022-04-11 14:27] smashhadi opened #996 "[Help] Create a new namespace on AAW"
Please create a new namespace on AAW with the name "nutrition-ai" with shirin.roshanafshar@cloud.statcan.ca (section chief) as the owner.

[2022-04-11 16:35] #990 closed

[2022-04-11 17:56] msmailes commented on #993
New update: it seems as if the problem may be localized to the SDG.ipynb and it's various copies (regardless of the namespace they are in) - I created a new notebook in my personal namespace and that saved just fine.

[2022-04-11 18:09] chritter opened #997 "Spark Operator: <description>"
#### Is your feature request related to a problem? Please link issue ticket

We would need to run Spark on Kubernetes as part of a Kubeflow model training pipeline.

#### Describe the solution you'd like

Being able to run spark jobs as part of a Kubeflow pipeline component: https://www.kubeflow.org/docs/components/pipelines/concepts/component/#component-code

#### Describe alternatives you've con

[2022-04-12 15:18] vexingly commented on #981
How often does this occur @chritter ? It will probably be difficult to reproduce this issue, however if it does occur reliably for you, perhaps you can create a crash dump for us to use to investigate?

Instructions: https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues

[2022-04-12 17:22] Jose-Matsuda commented on #994
@christiesambell just saw this, do you have a preference for which account you want it transferred to?

[2022-04-12 17:53] JosephKuchar opened #998 "Change ownership of AAW namespace"
Hi,

I'll be taking a leave of absence, so I'll need to have ownership of the deil-lode namespace transferred to my manager, Bjenk Ellefsen.

Also, looking at "Manage Contributors" in kubeflow, I see the deil-lode namespace listed twice, which might indicate something weird is going on?

Thanks,
Joseph

The account to be transferred to will be `bjenk.ellefsen@cloud.statcan.ca`

[2022-04-12 17:57] christiesambell commented on #994
christie.sambell@cloud.statcan.ca
Thanks!

[2022-04-12 18:03] Jose-Matsuda commented on #996
@smashhadi can you confirm that the profile has been created and close this issue if it all looks good?

[2022-04-12 18:07] smashhadi commented on #996
It has been created. Thank you !

[2022-04-12 18:07] #996 closed

[2022-04-12 18:17] Jose-Matsuda commented on #994
@christiesambell should be good to go, close the issue please if so

[2022-04-12 18:29] christiesambell commented on #994
I was successfully able to remove the contributor from the namespace that I needed so it appears to be good.

[2022-04-13 13:13] wg102 commented on #980
Tasks to do:

- [ ] Figure out the changed needed to add the secret to the catalog
- [ ] Possibly subpath
- [ ] For local testing, need to add something in the Makefile
- [ ] For dev testing (or prod) need to add a secret in the terraform repo

[2022-04-13 13:58] #971 closed

[2022-04-13 13:59] chuckbelisle commented on #908
@vexingly when you have a moment, could you please update this issue? Thanks!

[2022-04-13 14:30] chritter commented on #981
Here is a screenshot just now:

![image](https://user-images.githubusercontent.com/15911039/163203717-f3b22e6c-95dd-471a-bdce-75266e49516f.png)

[2022-04-13 14:37] chritter commented on #981
It happens frequently, also reported by my colleague Krishna.

[2022-04-13 14:58] chritter commented on #112
Closing as it was addressed in https://github.com/StatCan/daaas/issues/699

[2022-04-13 14:58] #112 closed

[2022-04-13 15:00] chritter commented on #936
It would be beneficial to consider the option to enable accessibility of a Seldon deployment from NetB incl. AAW.

[2022-04-13 15:16] chritter commented on #798
I confirm that the access to the endpoint` .../api/v1.0/predictions` via a Seldon svc object works from within the user namespace on prod. What does not work yet is the network access to the `.../api/v1.0/doc endpoint`

[2022-04-13 15:20] #798 closed

[2022-04-13 15:24] chuckbelisle opened #999 "Salwa's various knowledge transfer of things"
Let's use this issue to track things that we want to go over with @saffaalvi before her last day with the team.

[2022-04-13 15:25] chuckbelisle commented on #999
@jumana-s @Jose-Matsuda @rohank07 @wg102
Let's start adding tasks/items to this issue that we want Salwa to go over with us.

[2022-04-13 16:07] jumana-s commented on #999
- The FDI MinIO integration, how it works on our side.
- MinIO OIDC

[2022-04-13 17:26] KrishnaChaitanya-Gopaluni opened #1000 "[Help] Request for a new namespace on AAW for the account `krishna.gopaluni@cloud.statcan.ca`"
Requesting to create a new namespace  `eventdetect` for the account `krishna.gopaluni@cloud.statcan.ca`

Thank you.

[2022-04-13 17:56] Jose-Matsuda commented on #1000
As discussed in slack the previous cloud account got disabled and the user can no longer access it. We will instead change ownership of the `eventsdetection` namespace to `krishna.gopaluni@cloud.statcan.ca`

[2022-04-13 17:59] blairdrummond opened #1001 "[EPIC]: Blob-CSI implementaion & Boathouse replacement"
Based on PoC work here

https://github.com/blairdrummond/kind-blob-csi-mock-aaw

# Architecture

The architecture has a nice split:

- Create or Find Storage Containers, Create PVs (readwrite or readonly), and create PVCs in the user namespace

- Automatically discover PVCs and bind them to Notebooks, Workflows, or S3Proxy pods. (Goofys Webhook)

**Refreshes/Updates**

- Users will need to restart

[2022-04-13 18:00] blairdrummond opened #1002 "[Epic Blob-CSI] Install the Blob-CSI-Driver helm chart"

[2022-04-13 18:00] blairdrummond opened #1003 "[Epic Blob-CSI] Provision storage account secrets in dedicated namespace (`azure-blob-csi-system`)"

[2022-04-13 18:00] blairdrummond opened #1004 "[Epic Blob-CSI] Configure namespace network policies"

[2022-04-13 18:00] blairdrummond opened #1005 "[Epic Blob-CSI] Remove or greatly increase the storage cap on namespaces"

[2022-04-13 18:00] blairdrummond opened #1006 "[Epic Blob-CSI] Implement the gatekeeper policies/constraints for pro-b labels on PVs v.s. PVCs"

[2022-04-13 18:00] blairdrummond opened #1007 "[Epic Blob-CSI] Create a new profile controller (Blob,PV,PVC) using code written in the PoC"

[2022-04-13 18:00] blairdrummond opened #1008 "[Epic Blob-CSI] Deploy the new mutating webhook"
Code is here https://github.com/StatCan/aaw-blob-csi-injector

Just need to add a secret to deploy it.

[2022-04-13 18:01] blairdrummond opened #1009 "[Epic Blob-CSI] Deploy example notebook that utilizes the mounts"

[2022-04-13 18:01] blairdrummond opened #1010 "[Epic Blob-CSI] Load test and speed test the tool"

[2022-04-13 18:01] blairdrummond opened #1011 "[Epic Blob-CSI] Modify the existing PodDefault objects for Goofys mounts to the new implementation"

[2022-04-13 18:01] blairdrummond opened #1013 "[Epic Blob-CSI] Remove the boathouse MinIO ingresses"

[2022-04-13 18:02] blairdrummond opened #1014 "[Epic Blob-CSI] Test out blob-csi implementation viability"
Closed by work here https://github.com/blairdrummond/kind-blob-csi-mock-aaw

[2022-04-13 18:03] #1014 closed

[2022-04-13 18:13] Jose-Matsuda commented on #998
Should be good to go @JosephKuchar, close if so

[2022-04-13 18:34] jumana-s commented on #339
From the testing I have done, I haven't noticed the new variant on dev.

We might want to upgrade to a newer version of the notebook controller.  The PR [mentioned](https://github.com/StatCan/daaas/issues/339#issuecomment-756902180) above has a fix.

[2022-04-13 18:34] jumana-s commented on #339
@blairdrummond @brendangadd can I test the notebook controller for kubeflow 1.3 on dev?

[2022-04-13 18:34] saffaalvi commented on #951
This controller is in a new repo: https://github.com/StatCan/aaw-profile-state-controller

[2022-04-13 18:52] blairdrummond commented on #1002
Will be closed by https://gitlab.k8s.cloud.statcan.ca/cloudnative/aaw/daaas-infrastructure/aaw-dev-cc-00/-/merge_requests/102

[2022-04-13 18:54] blairdrummond commented on #1003
Will be closed by https://gitlab.k8s.cloud.statcan.ca/cloudnative/aaw/daaas-infrastructure/aaw-dev-cc-00/-/merge_requests/102

[2022-04-13 19:30] #951 closed

[2022-04-14 11:45] chritter opened #1015 "argo events: availability in namespaces"
#### Describe the solution you'd like

We need to trigger Kubeflow Pipelines via events in our project with CPD. As such https://argoproj.github.io/argo-events/ would be an ideal candidate. If made available on the dev cluster, I would appreciate to test the setup for suitability for our project.

#### Describe alternatives you've considered

Use the Kubeflow Python SDK to launch a pipeline.

[2022-04-14 12:46] blairdrummond opened #1016 "[Epic Blob-CSI] Create Gatekeeper Constraint for PV/PVC classification"

[2022-04-14 12:57] Jose-Matsuda commented on #932
Not actively working on this issue atm, but thought it would be good to leave this here (will also leave a comment in others)
So while I was working on https://github.com/StatCan/aaw-kubeflow-containers/issues/338 I made the decision with prodding from Zach and Justin to switch to using a local repository in Artifactory as opposed to trying to use the Dev ACR.

So I created a local repo in artifac

[2022-04-14 12:59] blairdrummond commented on #932
Woohoo! Looks like a significant speedup for our startup times! Great work!

[2022-04-14 12:59] blairdrummond commented on #932
I think you can probably mark this issue as closed. Looks like a 15x speedup nearly

[2022-04-14 13:07] Jose-Matsuda commented on #932
fwiw I did another test doing the same steps

----

Normal   Pulled            15s    notebook-controller  Reissued from pod/test2-0: Successfully pulled image "jfrog.aaw.cloud.statcan.ca/[haha]/jupyterlab-cpu:674a1d1979dd62c131310da3b6dfb4a0c5fd06c6" in 3m26.175638664s

----
So there might be a smidge of variance, not that I know what causes it.

[2022-04-14 13:07] #932 closed

[2022-04-14 13:37] chritter commented on #1015
FYI @Collinbrown95

[2022-04-14 14:39] wg102 commented on #980
Terraform secret PR added on Gitlab on 14-04-2022

[2022-04-14 15:46] chritter opened #1017 "[Help] creation of namespace cpddsmlops"
#### Describe what you need help with

Hello, I would like to request the creation of the namespace `cpddsmlops` for a project with CPD. Thanks!

[2022-04-14 17:14] chuckbelisle commented on #745
I know we've since made some modifications to our auth policies in order to fix similar issues. @fern1084 are you still experiencing issues trying to connect to notebooks in the aaw-sedar namespace?

[2022-04-14 17:49] Jose-Matsuda commented on #960
Ahh im now getting this (I seemed to get it before as well) but I'm sure I havent changed how I did things. I completely removed any scanning (temporarily) but I still get this
[code]

Thing is, I still get the following from the artifactory-access.log
[code]

[2022-04-14 18:00] Jose-Matsuda commented on #1000
@KrishnaChaitanya-Gopaluni please close the issue if you were able to regain ownership of the `eventsdetection` namespace

[2022-04-14 18:01] Jose-Matsuda commented on #1017
@chritter Could you provide the account you want it associated with / be the owner of the namespace?

[2022-04-14 18:08] wg102 commented on #980
A similar PR will be needed for prod as well.

[2022-04-14 19:10] #1000 closed

[2022-04-14 19:11] KrishnaChaitanya-Gopaluni commented on #1000
Closed. Thanks for the help.

[2022-04-14 20:33] chritter opened #1018 "Kubeflow Pipelines: does not work - authentication issue"
#### Describe the bug

Submitting or running a KF pipeline does not work.

[code]

#### Environment info

Namespace: christian-ritter

Notebook/server: kftesting

#### Steps to reproduce

OPtion 1:

* Follow this tutorial: https://statcan.github.io/daaas/en/3-Pipelines/Kubeflow-Pipelines/

Option 2:
* Execute `pipeline.py`, `publish.py`at https://gitlab.com/dsd4/cpd_ml_system_design/kubeflow_pipel

[2022-04-14 20:38] vexingly commented on #981
I was able to produce some similar issues today (but not very frequently) and produced a dump file, however after processing it didn't indicate a specific culprit.

Some common suggestions are to try adding the following flags to your vscode shortcut:
--disable-gpu
--disable-extensions

Obviously disabling extensions makes vscode much less useful so I would only recommend testing with that one ver

[2022-04-15 00:04] blairdrummond opened #1019 "[Epic Blob-CSI] Configure PVs with FDI credentials"
https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/pv-blobfuse-auth.yaml

[2022-04-15 21:09] blairdrummond opened #1020 "[Epic Blob-CSI] Add s3proxy & nginx to contianer-allowed-images"

[2022-04-15 21:10] #1020 closed

[2022-04-15 21:10] blairdrummond commented on #1002
Merged

[2022-04-15 21:10] #1002 closed

[2022-04-15 22:09] blairdrummond opened #1021 "[Epic Blob-CSI] Create non-root gaul/s3proxy image (or see if current can work)"

[2022-04-15 22:10] blairdrummond commented on #1021
Done! Manifests will be tuned and migrated into the aaw-argocd-manifests repo

https://github.com/blairdrummond/kind-blob-csi-mock-aaw/tree/63c2caec28e67a751fc10d57ded547ae0ff0f341/manifests/s3proxy/fancy

![Screenshot from 2022-04-15 18-04-31](https://user-images.githubusercontent.com/10801138/163648377-b5291933-2384-49f9-b2f5-3322c04a7ff4.png)
![Screenshot from 2022-04-15 18-04-55](https://user-

[2022-04-15 22:40] #1003 closed

[2022-04-15 22:42] blairdrummond opened #1022 "[Epic Blob-CSI] Add new blob-csi component to profile-controller helm chart"

[2022-04-16 00:19] blairdrummond commented on #1021
@Collinbrown95 If you have time this week I'd like to get your help getting the `Buckets` drop-down to dynamically list the available buckets by pinging the s3proxy api. I just hard-coded the list for now.

[2022-04-16 00:24] blairdrummond commented on #1021
Actually, there are a few things we should look at.

- [ ] Dynamically fetch the list of buckets
- [ ] Add i18n
- [ ] Download all the external assets and include them? Protected-B notebooks will not be able to fetch those external resources.

Anything else you can think of? You'll notice I made the nginx sidecar (which serves the frontend) serve the assets under `/s3/`. I think we could do this o

[2022-04-16 00:25] blairdrummond opened #1023 "Blob-CSI: Implement UI replacement"
(transferred from another issue)

@Collinbrown95 I'd like your input on this!

I have a basic UI running. It's just 3 html+css+js files as a configmap in an nginx container.

![](https://user-images.githubusercontent.com/10801138/163648377-b5291933-2384-49f9-b2f5-3322c04a7ff4.png)
![](https://user-images.githubusercontent.com/10801138/163648382-940fd470-4989-4bbd-a0b4-f6cf38dee82d.png)

There are

[2022-04-16 00:29] blairdrummond commented on #1021
This image runs two non-root containers successfully in a user namespace. Mission success. UI enhancements will be in a separate issue

[2022-04-16 00:29] #1021 closed

[2022-04-16 00:33] blairdrummond opened #1024 "[Epic Blob-CSI] Add all updates to aaw-argocd-manifests"

[2022-04-16 23:34] #1004 closed

[2022-04-19 13:39] chritter opened #1025 "Seldon Core integration - Part 2"
In this epic we continue (previous steps at #699) re-enabling Seldon Core on the production cluster and to allow for isolated user-namespace deployments. Sub-issues can be linked against this main issue.

- [ ] Enable full seldon networking
- [ ] Document seldon functionality in the AAW documentation

[2022-04-19 13:43] chritter opened #1026 "Enable Seldon with Argo"

[2022-04-19 13:44] #1026 closed

[2022-04-19 13:51] chritter opened #1027 "Enable Seldon Swagger UI provided"

[2022-04-19 13:56] chritter opened #1028 "Identify and enable Seldon network access in all AAW namespaces."
Expanding on #798

[2022-04-19 13:59] rohank07 commented on #979
1. curl with valid token -> run any query at all :heavy_check_mark:
Able to authenticate successfully connecting to trino using --user default (local cluster default service account: `"sub": "system:serviceaccount:default:default"`
2. No token provided  :heavy_check_mark:
![image](https://user-images.githubusercontent.com/28408586/164016386-95c3fa1b-5b5d-4009-9e3c-7f523b58f079.png)
3. unencrypted

[2022-04-19 14:55] ParadisF opened #1029 "<AAW-Chrome-Web-Scraping>: <Web-Scraping with Chrome>"
Greetings,

I would like an option to have an remote desktop with Chrome and ChromeDriver for web-scraping with selenium.

Similar issue : https://github.com/StatCan/aaw-kubeflow-containers/issues/33

Its currently possible to web-scrape with the default Firefox, but firebox makes it hard to do so if the element you want to select is not visible in the window, making web-scraping more complication

[2022-04-19 15:11] #745 closed

[2022-04-19 15:26] #980 closed

[2022-04-19 15:38] Jose-Matsuda commented on #962
We'll probably try and go with the first option as the second option has not had a commit since 2020 and uses some older packages

[2022-04-19 15:46] chritter commented on #1018
FYI @brendangadd

[2022-04-19 16:06] #888 closed

[2022-04-19 17:51] wg102 commented on #980
The way it works is that **locally**, we create secrets by running make secrets.
On **dev** the secrets are already there since we added a PR to github. (Not sure if this got merged yet # 103).  **Prod** will be same as dev, but the secrets have not been created yet. The values.yaml implements a env variable using a reference to the secret. and that env var is used in the code. That is how we will

[2022-04-19 17:52] wg102 commented on #927
Create the PR with ingress and egress from/to trino-system.
These _should_ be the only thing we need (to validate with @brendangadd )

[2022-04-19 17:59] chritter commented on #1018
FYI, @bryanpaget

[2022-04-19 18:02] chritter commented on #1018
Documentation steps do not work either: https://statcan.github.io/daaas/en/3-Pipelines/Kubeflow-Pipelines/

[2022-04-19 18:44] vexingly commented on #908
Ticket has been updated with detailed steps required.

Stuck on step adding authenticated gateway as tf wont deploy the custom dns entry, can deploy the stack anyways but it won't be accessible.

[2022-04-19 18:53] chuckbelisle commented on #962
For documentation and research about the CVE https://www.cve.org/CVERecord?id=CVE-2020-1747

[2022-04-19 19:09] blairdrummond opened #1030 "Automate credentials across AAW Github repos"
https://registry.terraform.io/providers/integrations/github/latest/docs/resources/actions_secret

We push images from many repositories right now, using manually configured secrets. We could use this terraform provider for github to automate that in a single place.

[2022-04-19 19:15] chuckbelisle commented on #962
@Collinbrown95

[2022-04-19 19:17] vexingly commented on #999
- [ ] Among Us survival strategies

[2022-04-19 19:36] chuckbelisle commented on #962
Fix was created back in 2020 as well and I would assume updating the package would fix this CVE
https://github.com/yaml/pyyaml/commit/5080ba513377b6355a0502104846ee804656f1e0

[2022-04-19 19:39] Jose-Matsuda commented on #962
yeah it seems like when I scan this locally it just picks up this CVE while our daily pipeline just [passes](https://github.com/StatCan/aaw-kubeflow-containers/actions/runs/2186085367)

[2022-04-20 12:48] Jose-Matsuda commented on #1029
Will be discussed at Sprint Planning today and I will update this comment with any relevant info.

As Blair said it might be good to have a separate container in aaw-kubeflow-containers that is specific to this kind of web scraping request.
I suppose my question there would be, will it be a copy of remote-desktop except with chromium + chrome driver? Or would it be a more 'minimal' version of the

[2022-04-20 12:50] sylus commented on #883
This is now done I still have some virtual services to update and a few other things but Istio has been upgraded.

[2022-04-20 14:39] blairdrummond opened #1031 "Add Gitea UI to Kubeflow UI"
Use Virtual Services and configure the Central Dashboard to allow smooth Gitea access

[2022-04-20 14:52] blairdrummond opened #1033 "[Epic Blob-CSI] Fix Blob-CSI access via Azure RBAC"

[2022-04-20 15:05] blairdrummond opened #1034 "Look into Vault+External Secrets"
https://github.com/external-secrets/external-secrets

We could, for example, have the [databases repo](https://github.com/StatCan/terraform-aaw-managed-databases) push the secret to Vault, and then have an external secret reference it.

[2022-04-20 15:39] bryanpaget opened #1035 "Test UX of Azure and Compare with AAW"

[2022-04-20 15:41] chuckbelisle opened #1036 "Helm chart version decision tree"
We need a better overview of where we need to update various version numbers through our helm charts or other workflows.

Assigning to @blairdrummond as I know he understands this process an can write it down fairly quickly.

[2022-04-20 15:43] bryanpaget commented on #969
We are still collecting footage and I can do some with in kdenlive this sprint.

[2022-04-20 16:01] #906 closed

[2022-04-20 16:12] chuckbelisle commented on #999
@jumana-s and @Collinbrown95 let's connect this week and chat about "The FDI MinIO integration, how it works on our side."
Any better time? I've got Friday morning wide open

[2022-04-20 16:13] blairdrummond opened #1037 "Blob-CSI: Write an S3Proxy controller (with automated restarts)"
This will be a copy-paste of gitea.go with small changes

[2022-04-20 16:15] #1035 closed

[2022-04-20 17:44] Collinbrown95 opened #1038 "Add virtual service generation to kubeflow profile controller"

[2022-04-20 17:44] Collinbrown95 opened #1039 "Configure kubeflow central dashboard configmap with Gitea link"

[2022-04-20 18:32] chuckbelisle commented on #1036
@blairdrummond when you have a moment, could you please jot down the steps for updating the helm chart versions in our repos?

[2022-04-21 11:40] YannCoderre commented on #895
@bryanpaget , the Optimus project is ongoing. There are many aspects before we start onboarding this projet:

- One Git solution (GitLab preferred) with CICD capability: Kate understands that we cant have one repository that can hold the code from a user on Protected B and Public. GITEA is not really a viable option. We need to wait until GITEA will be in DEV and PROD
- Protected B is necessary
-

[2022-04-21 14:00] #1017 closed

[2022-04-21 14:43] jumana-s commented on #999
@chuckbelisle yeah, friday morning works for me

[2022-04-21 15:25] michaelhum opened #1040 "Create new repository "aaw-kubeflow-profiles-dev" for the portal request namespace flow feature"
Hi there!

We're re-implementing the "request kubeflow namespace" feature currently available in the orchard-core version of the DAaaS portal and AAW portal screens. Related JIRA ticket: DAAAS-2087

#### Describe the solution you'd like

As part of this process, we would like to create a new private repository, "aaw-kubeflow-profiles-dev" (or if you have a better name, whatever works) under the st

[2022-04-21 17:46] blairdrummond commented on #1033
This is a sample PV + PVC for testing. Once you bind a pod to this PVC (e.g. by creating a notebook that mounts it) the errors show up on the blob-csi pods.

[code]

[2022-04-21 18:08] bryanpaget commented on #1018
I tested this in the dev branch. It seems to work.

![image](https://user-images.githubusercontent.com/8212170/164524369-85817a06-6b1d-4c38-9a1f-888eb75a53b3.png)

[2022-04-21 18:14] bryanpaget commented on #1018
Now we are here:

![image](https://user-images.githubusercontent.com/8212170/164525723-f8e1c27e-0edf-41b3-98bc-b3da952065c7.png)

[2022-04-21 18:31] chuckbelisle opened #1041 "Hybrid data initiative requirement tracking"
Let's use this ticket to track various requirements the hybrid data initiative needs along the way.

[2022-04-21 19:08] blairdrummond commented on #1033
As per conversation with @zachomedia , ideally this will be accessible from all user workloads, both Unclassified and Protected-B.

We have both Protected-B (`protected-b`) and Unclassified (`standard, premium`) Storage accounts.

Unclassified Storage accounts will be accessed by `Protected-B` and `Unclassified` nodes. (Read-only mirror for protected-b)

Protected-B storage accounts will only be a

[2022-04-21 19:46] chritter opened #1042 "[Epic] Kubeflow Pipelines: Enable Usage"
The following tasks are required to allow the user to use Kubeflow pipelines:

- [  ] #1018
- [  ] Enable component Image Usage
- [  ] #1052
- [  ] Update Documentation about Kubeflow Pipelines

FYI @brendangadd @bryanpaget

[2022-04-21 19:51] blairdrummond commented on #1036
An example with the Profiles-Controller

Christian [adds `cmd/gitea.go` to the profiles controller](https://github.com/StatCan/aaw-kubeflow-profiles-controller/commit/3a70d49279ff22d00da9f725b95e0480e6f67ff9). This is a new feature in the profiles-controller, and it requires new parameters and files in the helm chart. Chrisitian adds the commit to `main`, which triggers CI, which builds and pushes

[2022-04-22 12:56] chuckbelisle opened #1043 "remote desktop novnc: NoVNC session disconnect ~10 mins"
#### Describe the bug

While connected to a remote desktop image, my NoVNC session disconnect after ~10 mins or less

#### Environment info

Namespace: widhnik or eventdetec

Notebook/server: personal-vdi or mlflow

#### Steps to reproduce

Steps to reproduce the behavior:

1. Connect to remote desktop image
2. While being active, wait until disconnect

#### Additional context

Past related issues

[2022-04-22 13:05] chuckbelisle commented on #1040
@michaelhum I created https://github.com/StatCan/aaw-profiles-portal-automation-testing for you to start your portal automation testing. I made you an admin on that specific repo.

[2022-04-22 13:07] chuckbelisle commented on #1040
[ ] - Give read access https://github.com/StatCan/aaw-kubeflow-profiles
[ ] - Create new dev repo
[ ] - provide service account API key

[2022-04-22 13:27] chuckbelisle commented on #1040
Instead of generating a new API for a test repo and further exposing our service account. I suggest we create new branches for the existing aaw-kubeflow-profiles repo and Michael write permissions.

We can revisit this workflow in a month or two and reassess if needed

[2022-04-22 13:27] #1040 closed

[2022-04-22 13:36] chuckbelisle commented on #1036
Thanks @blairdrummond! From this explanation we will be able to incorporate that workflow in our dev documentation.

[2022-04-22 13:36] #1036 closed

[2022-04-22 13:38] chuckbelisle opened #1044 "AAW helm chart versioning docs"
Related to #1036

Let's incorporate this information in our dev documentation
https://github.com/StatCan/daaas/issues/1036#issuecomment-1105690662

[2022-04-22 14:01] wg102 opened #1045 "Kubeflow 1.3 Testing"
List of all the components that need to be tested to confirm it works as expected

[2022-04-22 14:25] Jose-Matsuda commented on #1029
Will have a custom image for you to test out and try soon. Right now it is just remote desktop with chrome and chrome driver installed. If that works all fine we will making the image smaller by removing other applications on remote desktop such as QGIS to keep the image size small.

Somewhat annoying is that when you install chrome, there does not appear to be a way to pin the version. As such, w

[2022-04-22 14:56] chuckbelisle commented on #999
![fdi_diagram](https://user-images.githubusercontent.com/13248342/164740200-f840d301-c8a5-4c63-ab90-ccfc233670ff.png)

[2022-04-22 15:57] #979 closed

[2022-04-22 17:42] bryanpaget commented on #1018
I managed to get the pipeline to run. I just needed to add `command: ["python", "./average.py"]` to pipeline.yaml.

[code]

![image](https://user-images.githubusercontent.com/8212170/164766320-7f61a73c-99a4-4212-a869-4aaf9a11cce8.png)

[2022-04-22 17:44] bryanpaget commented on #1018
Maybe I can look at this next?

[2022-04-22 20:11] ParadisF commented on #1029
With selenium v4 I believe, the chrome-driver get downloaded each time and installed from the cache. Would that be allowed in the remote-image ?

[2022-04-24 00:49] zachomedia opened #1046 "Pods with disks can schedule to the wrong node"
We should use `nodeSelector`s to ensure that pods with disks mount to the correct nodes (no zone or correct zone).

Kubeflow and other systems have some pods that depend on specific node locations.

[2022-04-25 00:28] #935 closed

[2022-04-25 00:50] Jose-Matsuda commented on #1029
@ParadisF Here's a remote desktop image you can test and do some things with, I was able to do something super basic https://github.com/StatCan/aaw-kubeflow-containers/pull/343#issuecomment-1106704347

Create a new machine and use the following custom image
`k8scc01covidacr.azurecr.io/remote-desktop:df7c1c74`

[2022-04-25 12:55] wg102 commented on #991
Cloud answer: _You would have to either use PostgreSQL or MySQL managed as currently the only ATO'd. I think AAW has a preference for PostgreSQL ^_^_

Therefore we will go with PostgreSQL

[2022-04-25 12:56] wg102 commented on #982
Cloud answer: You would have to either use PostgreSQL or MySQL managed as currently the only ATO'd. I think AAW has a preference for PostgreSQL ^^_

Therefore we will go with PostgreSQL

[2022-04-25 15:14] vexingly commented on #1045
New rd notebook deployed successfully from the UI, but it was necessary to fully disable cache to clear the old interface which was not working!

[2022-04-25 16:24] brendangadd commented on #1043
First thing to check: is the container image one of our standard ones, and is more up-to-date w.r.t. the fix version of #740?

[2022-04-25 19:04] #992 closed

[2022-04-25 20:01] ToucheSir opened #1047 "Conda: add path on workspace volume for installed packages and environments"
#### Is your feature request related to a problem?

No. Context is that tearing down a notebook container will invalidate any packages and environments added after initialization because `/opt/conda` is ephemeral. This will become a larger issue if/when notebook culling lands.

#### Describe the solution you'd like

It is possible to replace/prepend custom directory paths for conda to use for crea

[2022-04-25 21:18] chuckbelisle opened #1048 "Manage contributors and Kubeflow 1.3 Authorization Policies"
## Problem

Reported by @rohank07
On the Manage Contributors page when removing an existing contributor (say one that was present BEFORE the 1.3 upgrade) I get the following error message. I am able to delete the contributor when I delete the role-binding under my namespace (UI gets updated).  If I were to add a new contributor and then try to remove the user, I am able to successfully.

## Resolu

[2022-04-25 21:19] chuckbelisle commented on #1048
@sylus and @zachomedia are working on applying the same fix that was done for dev.

[2022-04-25 21:21] chuckbelisle commented on #1045
Confirmed deallocation of containers when notebooks is stopped and new image gets pulled when restarted

[2022-04-25 21:21] chuckbelisle commented on #1045
You can possibly also use a incognito or private browser window for testing.

[2022-04-25 21:26] vexingly commented on #1045
Yes that's how I determined the cache clearing wasn't successful initially!

Some investigation into other options would be a good idea, clearing a cache isn't something we should really expect users to need to do for a release, an would cut down on support requests...

[2022-04-25 21:33] Collinbrown95 opened #1049 "Feature: Request rate limiting as a precaution for web scraping notebooks"
#### Describe the solution you'd like

As a precautionary measure for web-scraping notebooks, would it make sense to set some kind of request rate limit on notebook pods (e.g. 100 requests per minute)?

For example, using something like Istio's [EnvoyFilter](https://istio.io/latest/docs/tasks/policy-enforcement/rate-limit/) to set a maximum number of requests per minute?

The motivation for this i

[2022-04-25 22:23] sylus commented on #1045
I think it was confirmed that pipeines is working now and was tested?

[2022-04-26 00:07] sylus commented on #686
During the prod rollout we needed to persist the following though everything else was working as expected.

[code]

Thanks @zachomedia

[2022-04-26 00:10] sylus commented on #1045
The culling is set to check for idle notebooks kernel activity that isn't registered for a week.

[code]

[2022-04-26 01:44] sylus commented on #1048
This should be all fixed now thanks to @zachomedia

[2022-04-26 01:45] #1048 closed

[2022-04-26 11:02] Jose-Matsuda commented on #983
Finished, brought gatekeeper down to its knees but ran just fine. The efforts of Chuck and the Cloud Team they were able to unbork it and we were reminded of this little faq https://github.com/StatCan/daaas/wiki/Common-issues-and-solutions

[2022-04-26 12:34] Jose-Matsuda commented on #960
Ok maybe slowly but surely I am learning?

I do not know where I got the idea to place the `systemYaml` at the same level right under global in what appears to be the `jfrog-platform` chart. There must have been something that led me to believe I could put it there to have it configured across every jfrog installation / service installeed by the `jfrog-platform` chart.

I look at my previous answe

[2022-04-26 14:30] chritter opened #1050 "Spark Operator: add registry to allowed list"
#### Describe the solution you'd like

To run spark jobs and leverage spark job examples on AAW we would need access to the registry images under `gcr.io/spark-operator`. I request to add this to our allowed list. Examples I am referring to are here:

https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/examples/spark-py-pi.yaml

[2022-04-26 16:10] Collinbrown95 commented on #1031
# TODO
- [ ] Kubeflow UI config map needs to have option to route to `/gitea/` (https://github.com/StatCan/aaw-kubeflow-manifests/pull/176)
- [x] Gitea ArgoCD deployment needs to dynamically set the `ROOT_URL` environment variable to contain the user's namespace in the prefix (https://github.com/StatCan/aaw-argocd-manifests/pull/97).
- [ ] Test `ROOT_URL=https://(kubeflow.aaw-dev.cloud.statcan.ca,

[2022-04-26 16:13] blairdrummond opened #1051 "Support opt-out of workspace culling"

[2022-04-27 01:57] bryanpaget commented on #1018
Issue resolved on upgrade to Kubeflow 1.3. Try recreating your notebook server to take advantage of the fix.

[2022-04-27 01:57] #1018 closed

[2022-04-27 12:09] chritter opened #1052 "kubeflow pipelines: Save Kubeflow Pipeline Artifacts in User Namespaces"
#### Describe the solution you'd like

It would be extremely beneficial to save the kubeflow pipelines artifacts (from the different pipeline steps) in minio bucket of the respective namespace the pipeline is run. Currently the artifacts are saved to a central location.

#### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've
co

[2022-04-27 14:09] chuckbelisle opened #1053 "node pre-warming"
It happens whenever a new notebook request is made and a new node has to be assigned to the cluster in order to meet the requirements, it takes up to 30-40 minutes before your notebook becomes available.

I want us to look into pre-arming nodes so that we can reduce the delay to a minimum and users do not have to wait for our clusters to scale before being able to work on their new notebooks.

[2022-04-27 14:44] bryanpaget opened #1054 "Update Slideshow for new Kubeflow Version."

[2022-04-27 14:45] bryanpaget opened #1055 "Create Example Notebook for Kubeflow Pipelines."

[2022-04-27 14:46] bryanpaget commented on #1055
I created a notebook demonstrating Kubeflow Pipelines:

https://github.com/bryanpaget/kubeflow-examples/blob/main/Sample%20Experiment.ipynb

[2022-04-27 14:46] #1055 closed

[2022-04-27 15:42] chritter opened #1056 "diffgram labeling tool: add registry to allowed list"
We would like to allow the usage of docker images from `gcr.io/diffgram-open-core` which provides the software diffgram for training data labeling as part of the machine learning workflow. This could potentially drastically reduce the amount of work around data annotation/labeling.

Also, its part of the docker-compose or helm deployment. See

* https://diffgram.readme.io/docs/helm-kubernetes-inst